Source: ossec.net
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@freedom.press>
Homepage: https://securedrop.org
Package: securedrop-ossec-agent
Version: 3.0.0+1.0.0~rc1
Architecture: amd64
Depends: ossec-agent,securedrop-keyring,securedrop-config
Replaces: ossec-agent
Conflicts: securedrop-ossec-server
Description: Installs the securedrop pre-configured OSSEC agent
  This package installs an OSSEC agent pre-configured for the
  SecureDrop app server.
