---
- name: Create parent directory for Tor hidden services.
  file:
    state: directory
    dest: "{{ tor_hidden_services_parent_dir }}"
    owner: "{{ tor_user }}"
    group: "{{ tor_user }}"
    mode: '0700'
  tags:
    - tor

- name: Create directories for Tor hidden services.
  file:
    state: directory
    dest: "{{ tor_hidden_services_parent_dir }}/{{ item.service }}"
    owner: "{{ tor_user }}"
    group: "{{ tor_user }}"
    mode: '0700'
  with_items: tor_instances
  tags:
    - tor

- name: Copy torrc config file.
  template:
    src: torrc
    dest: /etc/tor/torrc
    owner: "{{ tor_user }}"
    group: "{{ tor_user }}"
    mode: '0644'
  notify:
    - restart tor
  tags:
    - tor

- name: Flush handlers to restart Tor.
  meta: flush_handlers
  tags:
    - tor

- name: Ensure tor is running.
  service:
    name: tor
    state: running
  tags:
    - tor
