---
- name: Install Tor project GPG signing key.
  apt_key:
    state: present
    data: "{{ lookup('file', 'tor-signing-key.pub') }}"
  tags:
    - apt
    - tor

- name: Setup Tor apt repo.
  apt_repository:
    filename: deb_torproject_org_torproject_org
    repo: deb {{ tor_apt_repo_url }} {{ ansible_lsb.codename }} main
    state: present
  register: add_tor_apt_repo
  tags:
    - apt
    - tor

- name: Update apt cache.
  apt:
    update_cache: yes
  when: add_tor_apt_repo.changed

- name: Install Tor and Tor keyring packages.
  apt:
    pkg: "{{ item }}"
    state: latest
    update_cache: yes
    cache_valid_time: 3600
  with_items:
    - deb.torproject.org-keyring
    - tor
  tags:
    - apt
    - tor
