# Because orgs can run any network firewall they want the firewall rules are in iptables format
# If your firewall only lookups FQDN once then you will not be able to restrict the OSSEC alerts smtp OUTPUT rules destinaton
# or INPUT rules source addresses.
# You will need the following ip addresses: external dns ip, monitor server ip and app server ip.
# You will need the following FQDNs: smtp relay
 
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:LOGNDROP - [0:0]

# Tor and apt rules
-A OUTPUT -s MONITOR_IP,APP_IP -p tcp --match multiport --dports 80,8080,443,8443,9001,9030 -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tor and apt"
-A INPUT  -d MONITOR_IP,APP_IP -p tcp --match multiport --sports 80,8080,443,8443,9001,9030 -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tor and apt" 

# DNS rules
-A OUTPUT -s MONITOR_IP,APP_IP -d EXTERNAL_DNS_SERVER_IP -p tcp --dport 53 -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tcp/udp dns"
-A INPUT  -s EXTERNAL_DNS_SERVER_IP -d MONITOR_IP,APP_IP -p tcp --sport 53 -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tcp/udp dns"
-A OUTPUT -s MONITOR_IP,APP_IP -d EXTERNAL_DNS_SERVER_IP -p udp --dport 53 -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tcp/udp dns"
-A INPUT  -s EXTERNAL_DNS_SERVER_IP -d MONITOR_IP,APP_IP -p udp --sport 53 -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tcp/udp dns"

# NTP rules
-A OUTPUT -s MONITOR_IP,APP_IP -p udp --sport 123 --dport 123 -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "ntp"
-A INPUT  -d MONITOR_IP,APP_IP -p udp --sport 123 --dport 123 -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "ntp"


# OSSEC server-agent
-A OUTPUT -s APP_IP -d MONITOR_IP -p udp --dport 1514 -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "OSSEC server agent"
-A INPUT  -s MONITOR_IP -d APP_IP -p udp --sport 1514 -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "OSSEC server agent"

# Monitor server smtp server rules.
# ensure that all the FQDN used by your smtp are listed	separated by a comma
# if you are not using starttls or if it runs on a non standard port please update the ports in the related rules
-A OUTPUT -s MONITOR_IP -d SMTP_RELAY_FQDN -p tcp --dport 587 -m state --state  --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "OSSEC alerts"
-A INPUT -s SMTP_RELAY_FQDN -d MONITOR_IP -p tcp --sport 587 -m state --state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "OSSEC alerts"

# Drop and log all other traffic
-A INPUT -j LOGNDROP -m comment --comment "Drop all other incomming traffic"
-A OUTPUT -j LOGNDROP -m comment --comment "Drop all other outgoing traffic"

# LOGNDROP everything else
-A LOGNDROP -p tcp -m limit --limit 5/min -j LOG --log-prefix "Denied_TCP "
-A LOGNDROP -p udp -m limit --limit 5/min -j LOG --log-prefix "Denied_UDP "
-A LOGNDROP -p icmp -m limit --limit 5/min -j LOG --log-prefix "Denied_ICMP "
-A LOGNDROP -j DROP
COMMIT
