*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:LOGNDROP - [0:0]

# Tor needs to be able to connect to any port over TCP, since relays may advertise any port as their ORPort.
# It is beneficial for security to allow our Tor client to connect to any of these ports, see https://www.torproject.org/docs/faq.html.en#OutboundPorts
-A OUTPUT -s MONITOR_IP,APP_IP -p tcp -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tor"
-A INPUT  -d MONITOR_IP,APP_IP -p tcp -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tor"

# Additionally, you will need to allow the Admin Workstation to make outgoing TCP connections on any port (since it runs Tails, and does everything over Tor). You can either use a static IP for the admin workstation and define additional rules for it (similar to the above rules), or loosen the above rules to apply to any IP on the LAN subnet and not just the APP_IP.

# DNS rules
-A OUTPUT -s MONITOR_IP,APP_IP -d EXTERNAL_DNS_SERVER_IP -p udp --dport 53 -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tcp/udp dns"
-A INPUT  -s EXTERNAL_DNS_SERVER_IP -d MONITOR_IP,APP_IP -p udp --sport 53 -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "tcp/udp dns"

# NTP rules
-A OUTPUT -s MONITOR_IP,APP_IP -p udp --sport 123 --dport 123 -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "ntp"
-A INPUT  -d MONITOR_IP,APP_IP -p udp --sport 123 --dport 123 -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "ntp"

# OSSEC server-agent
-A OUTPUT -s APP_IP -d MONITOR_IP -p udp --dport 1514 -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT -m comment --comment "OSSEC server agent"
-A INPUT  -s MONITOR_IP -d APP_IP -p udp --sport 1514 -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "OSSEC server agent"

# Drop and log all other traffic
-A INPUT -j LOGNDROP -m comment --comment "Drop all other incomming traffic"
-A OUTPUT -j LOGNDROP -m comment --comment "Drop all other outgoing traffic"

# LOGNDROP everything else
# The log prefixes were added to make these match the default OSSEC rules for iptables
-A LOGNDROP -p tcp -m limit --limit 5/min -j LOG --log-prefix "Denied_TCP "
-A LOGNDROP -p udp -m limit --limit 5/min -j LOG --log-prefix "Denied_UDP "
-A LOGNDROP -p icmp -m limit --limit 5/min -j LOG --log-prefix "Denied_ICMP "
-A LOGNDROP -j DROP
COMMIT
