Source: securedrop
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@pressfreedomfoundation.org>
Homepage: https://pressfreedomfoundation.org/securedrop
Package: securedrop-monitor-hardening
Version: 0.2.1-dev
Architecture: amd64
Pre-Depends: debconf (>= 0.2.17)
Depends: debhelper (>= 8.0.0),adduser,openssh-server,deb.torproject.org-keyring,tor,secure-delete,haveged,ntp,unattended-upgrades,iptables,libpam-google-authenticator
Conflicts: securedrop-app-interfaces,securedrop-source,securedrop-document,securedrop-app-hardening,securedrop-app-ossec
Description: Installs the SecureDrop Monitor Server
  Only install on a dedicated host. This package will modify your iptables
  rules and SSH config. After installation SSH will only be accessible
  through Tor Authenticated Hidden Services and will require 2-factor
  authentication for each user in the ssh group.
