[defaults]
interpreter_python=auto
#ask_pass=False
#ask_sudo_pass=False
display_skipped_hosts=False
timeout=120
# Use dynamic inventory script to determine local IPv4 addresses
# from site-specific vars, or Onion URLs for SSH over ATHS.
inventory=inventory-dynamic

[privilege_escalation]
agnostic_become_prompt=False

[ssh_connection]
scp_if_ssh=True
ssh_args = -o ControlMaster=auto -o ControlPersist=1200
pipelining=True
