.git
.vagrant
.python3
**/_build
**/.mypy_cache
**/.eggs
**/.tox
**/venv
**/.venv

**/*~
**/#*

**/__pycache__
**/*.pyc
securedrop/.sass-cache
securedrop/static/gen
securedrop/static/.webassets-cache
securedrop/tests/log/*
securedrop/tests/functional/pageslayout/
**/.molecule
build/*.deb
**/*.box
admin/.tox
**/firefox.log
junit/*.xml
