[flake8]
max-line-length = 100
exclude =
    config.py,
    .venv/,
    journalist_gui/journalist_gui/updaterUI.py,
    journalist_gui/journalist_gui/resources_rc.py,
    .python3,
    securedrop/alembic/versions,
    admin/.tox/
