# ignore the external config file that will contain digital ocean api tokens
snap.rb

# ignore the production config files that don't end in .example
securedrop-app-conf.yml
securedrop-mon-conf.yml

# ignore securedrop-app-code wheelhouse archive
wheelhouse

# ignore the ATHS/THS hostname file ansible places
app-ssh-aths
app-document-aths
app-source-ths
mon-ssh-aths

# ignore vagrant servet file
secrets.rb

# ignore the auto generated vagrant ansible inventory files
vagrant_ansible_inventory*

# ignore some things for the rspec tests
spec_tests/gems/*
Gemfile.lock

# ignore "external" Ansible configuration file
secureDropConf.yml

*.py[cod]
*.asc
*.crt

# zipped and deb files
*.tgz
*.deb
# C extensions
*.so
*.tar.gz

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vim temp files
*~
*.swp

# Functional test logs
**/ghostdriver.log

.vagrant
.chroot

#IDE
.idea

# Ignore Mac OS X
.DS_Store

# Emacs
\#*#

# ignore cached gems for serverspec tests
spec_tests/gems/*
