# ignore the test-results directory which is used to share logs and
# test files with the development containers
test-results

# ignore the production config files that don't end in .example
securedrop-app-conf.yml
securedrop-mon-conf.yml

# ignore site-specific vars file, since we can't predict contents
install_files/ansible-base/group_vars/all/site-specific

# ignore securedrop-app-code wheelhouse archive
wheelhouse

# ignore the instance information JSON file to prevent commit of private info
securedrop/tests/functional/instance_information.json

# ignore v3 onion JSON file
install_files/ansible-base/tor_v3_keys.json

# ignore the ATHS/THS hostname file ansible places
# Tor v2
app-ssh-aths
app-document-aths # leave this here for historic reasons
app-journalist-aths
app-source-ths
mon-ssh-aths
# Tor v3
app-journalist.auth_private
app-sourcev3-ths
app-ssh.auth_private
mon-ssh.auth_private
*.key
*.csr
*.pem
*.crt
*.ca

# ignore ansible retry files
*.retry

# ignore "external" Ansible configuration file
secureDropConf.yml

*.asc
*.crt

# zipped and deb files
*.tgz
*.deb
*.tar.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# C extensions
*.so

# Distribution / packaging
.Python
env/
build/*.deb
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.mypy_cache/

# Translations
*.mo

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv*/
venv/
ENV/

# Vim temp files
*~
*.swp
*.swo

# Functional test logs
**/ghostdriver.log

.vagrant
.chroot

#IDE
.idea

# Ignore Mac OS X
.DS_Store

# Emacs
\#*#

# compiled assets
securedrop/static/gen
securedrop/static/.webassets-cache

# Ignore .bundle directory added by Vagrant 1.8.0
# Vagrant adding this directory is a bug, and should be fixed in Vagrant 1.8.1:
# https://github.com/mitchellh/vagrant/issues/6705
.bundle

# ignore ansible retry files
*.retry

# Skip over CI junit files
junit/
raw-test-output/
*results.xml

# molecule
.molecule

#Used in CI for parsing out tor nightly version
.tor_version

# Ignore visual studio code folder
.vscode

#Ignore vagrant staging files
*.box
*.img

#These files are used in CI/dev env for determining whether to rebuild docker
#images
*.checksum
#Functional test logs
securedrop/tests/functional/firefox.log
securedrop/geckodriver.log
