#
# Normalization of contributors to the translation.
#
#   git log --pretty='%aN' securedrop/translations | sort -u
#
Alain-Olivier <french.coordinator@rbox.me>
Ali Boshanab <aboshanab_@hotmail.com>
Anna Skaja <annskaja@riseup.net>
A. Nonymous <noreply@weblate.org>
A. Nonymous <noreply@weblate.org> <8pj8w9+49mls08deq3l4@sharklasers.com>
Beatrice Martini <mail@beatricemartini.it>
Benny Daon <bennydaon@gmail.com>
Camille Fassett <camillefassett@gmail.com>
Eric H. <heartsucker@riseup.net>
Erin McConnell <erinm@benespace.org>
Jean-Marc Manach <weblatesecuredrop@rewriting.net>
Jennifer Helsby <jen@freedom.press>
Ramy Raoof <ramy.raoof@gmail.com>
Scharik Yousif <abuakram@protonmail.com>
Shih-Chieh Ilya Li <ilyaericlee@gmail.com>
