language: python
python:
- '2.7'
virtualenv:
  system_site_packages: true
before_install:
- sudo apt-get update -qq
- sudo apt-get install --yes rng-tools
- sudo rm -f /dev/random
- sudo mknod -m 0666 /dev/random c 1 9
- echo HRNGDEVICE=/dev/urandom | sudo tee /etc/default/rng-tools
- sudo /etc/init.d/rng-tools restart
install:
- pip install ansible
script:
- echo localhost > inventory
# Symlink dev configuration
#- ln -s install_files/ansible-base/secureDropConf.yml.dev install_files/ansible-base/secureDropConf.yml
- cp install_files/ansible-base/secureDropConf.yml.dev install_files/ansible-base/secureDropConf.yml
- ansible-playbook -i inventory --syntax-check install_files/ansible-base/secureDrop-server.yml
- ansible-playbook -i inventory --connection=local --sudo --tags=development --skip-tags=tor install_files/ansible-base/secureDrop-server.yml
notifications:
  slack:
    secure: jmEgJkFg6IVLl78dbLPBUpWkVuHkQ+HtXHNoY4cdgx2Gq5kVDuLtBIuMK5ubbj3zsp99JIJZ9DFQlunCkoLYZ7PAKQ7fhfwLEWNFJiAajMTZF/nNKV2J4i0NyMBHeFQ5eagAe3wrGiY5sblTbnExY4zERcdGoC1S2UImWX0xMRw=
