[defaults]
interpreter_python=auto
#ask_pass=False
#ask_sudo_pass=False
host_key_checking=False
display_skipped_hosts=False
timeout=60
callback_whitelist = profile_tasks

[ssh_connection]
# These options are required to be able to run the playbook over tor and
# with the ssh iptables rules rate-limiting. Removing this file or changing these
# options could break being able to run the playbook over tor
scp_if_ssh=True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o ConnectTimeout=60
pipelining=True
