[defaults]
# This was added so it doesn't confuse people running production why hosts were
# skipped.
display_skipped_hosts=False
# After the initial installation ansible runs over tor required the ssh
# modifications below to get it to not time out
timeout=60

[ssh_connection]
# Ansible defaults to SFTP which is disabled in our sshd config.
scp_if_ssh=True

# More settings to improve ansible over tor
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o ConnectTimeout=60
pipelining=True
