graft debian
graft etc
graft lib
graft var
prune var/www/securedrop/tests
include requirements.txt
include setup.py
recursive-exclude . *.pyc
recursive-exclude . .coverage
recursive-exclude . .coverage.*
