{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    {% if category != 'banner-warning' %}
      <p class="flash {{ category }}">
        {% if category == 'notification' %}
        <img src="{{ url_for('static', filename='i/font-awesome/black/info.svg') }}" width="17px" height="17px">
        {% elif category == 'error' %}
        <img class="pull-left" src="{{ url_for('static', filename='i/font-awesome/black/exclamation-triangle.svg') }}" width="17px" height="17px">
        {% endif %}
        {{ message }}
      </p>
    {% endif %}
  {% endfor %}
{% endif %}
{% endwith %}

