{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    {% if category != 'banner-warning' %}
      <p class="flash {{ category }}">
        {% if category == 'notification' %}
        <img src="{{ url_for('static', filename='i/font-awesome/info-circle-black.png') }}" width="20px">
        {% elif category == 'error' %}
        <img class="pull-left" src="{{ url_for('static', filename='i/font-awesome/exclamation-triangle-black.png') }}" width="20px">
        {% endif %}
        {{ message }}
      </p>
    {% endif %}
  {% endfor %}
{% endif %}
{% endwith %}
