{% extends "base.html" %}

{% block body %}
<h2>Remember this codename and keep it secret</h2>
<p class="center">To protect your identity, we're assigning you a unique codename.</p>

<hr class="no-line" />

<div class="code">
  <i class="fa fa-lock pull-left"></i><p id="codename">{{ codename }}</p>
  <div class="pull-right">
    <form id="regenerate-form" method="post">
      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <select name="number-words" id="number-words">
        {% for n in range(7, 11) %}
        <option value="{{ n }}"{% if n == num_words %} selected{% endif %}>{{ n }} words</option>
        {% endfor %}
      </select>
      <button type="submit" id="regenerate-submit" class="small">
        <i class="fa fa-refresh"></i>
      </button>
    </form>
  </div>
</div>

<div class="clearfix"></div>
<hr class="no-line">

<p class="serious">Store this codename somewhere safe, or memorize it. It can be used to compromise your anonymity.</p>

<hr class="no-line" />

<p><strong>Important:</strong> After you submit documents and messages, you can return to this SecureDrop site later to read replies and submit more information. <strong>You will need this codename to log in.</strong> This is the only way we can communicate back to you.</p>

<hr class="no-line" />

<form id="create-form" method="post" action="/create" autocomplete="off">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <button type="submit" class="btn block pull-right" id="continue-button"><i class="fa fa-arrow-circle-o-right"></i> Continue</button>
  <a id="already-have-codename" href="/login">Already have a codename?</a>
</form>
{% endblock %}
