{% extends "base.html" %}

{% block body %}
<h2>Remember this code and keep it secret</h2>
<p class="center">To protect your identity, we're assigning you a unique code name.</p>

<hr class="no-line" />

<div class="code">
  <i class="fa fa-lock pull-left"></i>  <strong id="codename">{{ codename }}</strong>
  <div class="pull-right">
    <form id="regenerate-form" method="post">
      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <select name="number-words" id="number-words">
        <option value="7">7 words</option>
        <option value="8" selected="">8 words</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <button type="submit" id="regenerate-submit" class="small">
        <i class="fa fa-refresh"></i>
      </button>
    </form>
  </div>
</div>

<div class="clearfix"></div>
<hr class="no-line">

<p class="serious">Store this code somewhere safe, or memorize it. It can be used to compromise your anonymity.</p>

<hr class="no-line" />

<p><strong>Next steps:</strong> You will need to provide this code to log back in and check for responses.</p>

<hr class="no-line" />

<form id="create-form" method="post" action="/create" autocomplete="off">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <button type="submit" class="btn block pull-right"><i class="fa fa-arrow-circle-o-right"></i> Continue</button>
</form>
{% endblock %}
