{% extends "base.html" %}

{% block body %}
<h2>Remember this codename and keep it secret</h2>
<p class="center">To protect your identity, we're assigning you a unique codename.</p>

<hr class="no-line" />

<div class="code">
  <img class="pull-left" src="{{ url_for('static', filename='i/font-awesome/black/lock.svg') }}" width="20px" height="20px">
  <p id="codename">{{ codename }}</p>
  <div class="pull-right">
    <form id="regenerate-form" method="post">
      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <select name="number-words" id="number-words">
        {% for n in range(7, 11) %}
        <option value="{{ n }}"{% if n == num_words %} selected{% endif %}>{{ n }} words</option>
        {% endfor %}
      </select>
      <button type="submit" id="regenerate-submit" class="small">
        <img class="pull-left" src="{{ url_for('static', filename='i/font-awesome/white/refresh.svg') }}" width="15px" height="15px">
      </button>
    </form>
  </div>
  <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<hr class="no-line">

<p>After you submit documents and messages, you can return to this SecureDrop site later to read replies from journalists and submit more information. <strong>You will need this codename to log in.</strong> This is the only way we can communicate back to you.</p>

<p class="serious">The best way to protect your codename is to memorize it. If you cannot memorize it right away, we recommend writing it down and keeping it in a safe place at first, and gradually working to memorize it over time. Once you have memorized it, you should destroy the written copy.</p>

<hr class="no-line" />

<form id="create-form" method="post" action="/create" autocomplete="off">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <button type="submit" class="btn block pull-right" id="continue-button">
    <img class="pull-left" src="{{ url_for('static', filename='i/font-awesome/white/arrow-circle-o-right.svg') }}" width="20px" height="20px">
    Continue</button>
  <a id="already-have-codename" href="/login">Already have a codename?</a>
</form>
{% endblock %}
