{% extends "base.html" %}
{% block body %}
<p>Here are instructions for disabling Javascript depending on your browser.</p>
<h1>Firefox</h1>
<p>There are two ways to disable Javascript in Firefox.</p>
  <h2>NoScript</h2>
  <p>We recommend installing the NoScript add-on, which allows you to disable Javascript with various levels of granularity and also protects against other common web exploits. To use NoScript to disable Javascript globally:</p>
  <ol>
    <li><a href="https://addons.mozilla.org/en-US/firefox/addon/noscript/">Click here</a> to go the NoScript download page.</li>
    <li>Click the green <strong>Add to Firefox</strong> button. Wait for the add-on to download.</li>
    <li>A dialog will pop-up with a warning: <strong>Install add-ons only from authors whom you trust</strong>. Wait for the countdown, then click <strong>Install Now</strong></li>
    <li>In the dialog that says <strong>This add-on will be installed after you restart Firefox</strong>, click <strong>Restart Now</strong>.</li>
    <li>Now all Javascript is blocked by default, except for scripts from a small set of "whitelisted" sites. To learn more about using NoScript, <a href="http://noscript.net">visit the website</a>, which automatically pops up when you first restart Firefox after installation.</li>
  </ol>
  <h2>about:config</h2>
  <p>If you don't want to install an add-on, it is also possible to disable Javascript in Firefox's settings. Unfortunately, starting with Firefox 23, Mozila removed the "Enable Javascript" checkbox in Firefox's preferences. However, you can still disable Javascript by following these steps:</p>
  <ol>
    <li>In a new tab, type or paste <strong>about:config</strong> in the address bar and press Enter. Click the button promising to be careful.</li> 
    <li>In the filter box, type or paste <strong>java</strong> and pause while the list is filtered.</li>
    <li>Double-click <strong>javascript.enabled</strong> to switch it from true to false.</li>
  </ol>
<h1>Chromium/Google Chrome</h1>
<ol>
  <li>Type <strong>chrome://settings</strong> into the URL bar and press Enter.</li>
  <li>Scroll to the bottom of the settings page and click <strong>Show advanced settings...</strong></li>
  <li>Scroll to the <strong>Privacy</strong> section and click <strong>Content Settings...</strong></li>
  <li>In the section labeled <strong>JavaScript</strong>, choose <strong>Do not allow any site to run JavaScript</strong>, then click the <strong>Done</strong> button.</li>
</ol>
{% endblock %}
