{% extends "base.html" %}
{% block body %}

<h1>Turn the Security Slider to High to Protect Your Anonymity</h1>

<p>JavaScript is a widely used programming language for creating interactive web
pages. Unfortunately, JavaScript is also the most common source of security
vulnerabilities in browsers. In August 2013, the FBI wrote malware that used a
JavaScript exploit to <a href='https://www.wired.com/threatlevel/2013/09/freedom-hosting-fbi'>de-anonymize Tor users</a>. JavaScript exploits are also mentioned in documents describing the NSA's <a href='http://www.theguardian.com/world/interactive/2013/oct/04/egotistical-giraffe-nsa-tor-document'>Egotistical Giraffe</a> program, which also has the goal of targeting and de-anonymizing Tor users.</p>

<p>We encourage SecureDrop users to disable JavaScript to protect themselves from malware that would use it to attack their browser and potentially de-anonymize them. There are other ways to get hacked, but given the use of JavaScript-based attacks recently, we believe it is prudent to disable it at this time.</p>

<p>The Tor Browser comes with a security slider that will disable Javascript as well as protect against other methods that can be used to reveal your true identity.</p> 

<p><strong>To turn up the security settings, click the Tor icon <img src="static/i/toronion.png" alt="Tor icon" /> to the left of the address bar, select <strong>Privacy and Security Settings</strong>, and turn the slider to <i>High</i>.</p>

{% endblock %}
