<!DOCTYPE html>
<html>
  <head>
    <title>SecureDrop | Protecting Journalists and Sources</title>
    {% assets filters="cssmin", output="gen/source.css",
      "css/normalize.css", "css/source.css", "css/font-awesome.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets filters="jsmin", output="gen/source.js",
      "js/libs/jquery-2.1.4.min.js", "js/source.js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>
  <body>
    <div class="warning"><strong>We recommend disabling JavaScript and turning the Security Slider to High to protect your anonymity:</strong> <a id="disable-js" href="/howto-disable-js">Learn how to disable it</a>, or ignore this warning to continue. <img id="warning-close" src="{{ url_for('static', filename='i/font-awesome/white/times.svg') }}" width="12px" height="12px"></div>

    {% include 'banner_warning_flashed.html' %}

    <div class="content">
      <div class="grid">
        {% include 'flashed.html' %}
        <div id="header">
          <img src="/static/i/{{ header_image }}" class="logo grid-item" alt="SecureDrop" width="250px">
          {% if use_custom_header_image %}
          <div class="powered">
            Powered by<br/>
            <img src="/static/i/securedrop_small.png" alt="SecureDrop">
          </div>
          {% endif %}
        </div>

        <div class="grid-item option alt">
          <h2>
            Submit documents for the first time
          </h2>
          <hr class="cut-out" />
          <p>If this is your first time submitting documents to journalists, start here.</p>
          <a href="/generate" class="btn alt block" id="submit-documents-button"><img id="warning-close" src="{{ url_for('static', filename='i/font-awesome/white/cloud-upload.svg') }}" width="17px" height="17px"> Submit Documents</a>
        </div>
        <div class="grid-item option">
          <h2>
            Already submitted something?
          </h2>
          <hr class="cut-out" />
          <p>If you have already submitted documents in the past, log in here to check for responses.</p>
          <a href="/login" class="btn block"><img id="warning-close" src="{{ url_for('static', filename='i/font-awesome/white/comments.svg') }}" width="17px" height="17px"> Check for a response</a>
        </div>
      </div>

    {% if custom_notification|length > 0 %}
        <p class="center"><b>Note:</b> {{ custom_notification }}</p>
    {% endif %}

      <footer>
        Like all software, SecureDrop may contain security bugs. Use at your own risk. Powered by SecureDrop {{ version }}.
      </footer>
    </div>

    <!-- Warning bubble to help TB users disable Javascript with NoScript.
    Included here so the images can preload while the user is first
    reading the page. Hidden by default. -->
    <div class="bubble">
      <p>You appear to be using the Tor Browser. You can disable Javascript and turn the Security Slider to High in 4 easy steps!</p> 
      <ol>
        <li>Click the <img src="static/i/toronion.png" alt="Tor icon" />Tor icon in the toolbar above</li>
        <li>Click <strong>Privacy and Security Settings</strong></li>
        <li>Turn the Slider to <strong>High</strong></li>
        <li>If the page does not refresh automatically, <a href="/">click here</a> to refresh the page</li> 
      </ol>

      <p><a href="/howto-disable-js">Not using the Tor Browser Bundle?</a></p>
    </div>

  </body>
</html>
