<!DOCTYPE html>
<html>
  <head>
    <title>SecureDrop | Protecting Journalists and Sources</title>
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/source.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" media="all" />
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <script type="text/javascript" src="/static/js/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/source.js"></script>
  </head>
  <body>
    <div class="warning"><strong>We recommend turning the Security Slider to High to protect your anonymity:</strong> <a id="disable-js" href="/howto-disable-js">Learn how to disable it</a>, or ignore this warning to continue. <img id="warning-close" src="{{ url_for('static', filename='i/font-awesome/times-white.png') }}" width="12px" height="12px"></div>

    {% include 'banner_warning_flashed.html' %}

    <div class="content">
      <div class="grid">
	{% include 'flashed.html' %}
        <div id="header">
          <img src="/static/i/{{ header_image }}" class="logo grid-item" alt="SecureDrop">
          {% if use_custom_header_image %}
          <div class="powered">
            Powered by<br/>
            <img src="/static/i/securedrop_small.png" alt="SecureDrop">
          </div>
          {% endif %}
        </div>

        <div class="grid-item option alt">
          <h2>
            Submit documents for the first time
          </h2>
          <hr class="cut-out" />
          <p>If this is your first time submitting documents to journalists, start here.</p>
            <span id="fa-icon">
              <span id="initial">
                <a href="/generate" class="btn alt block" id="submit-documents-button">
                  <img src="{{ url_for('static', filename='i/font-awesome/cloud-upload-white.png') }}" width="20px" /> Submit Documents
                </a>
              </span>
              <span id="onhover">
                <a href="/generate" class="btn alt block" id="submit-documents-button">
                  <img src="{{ url_for('static', filename='i/font-awesome/cloud-upload-blue.png') }}" width="20px" /> Submit Documents
                </a>
              </span>
            </span>
        </div>
        <div class="grid-item option">
          <h2>
            Already submitted something?
          </h2>
          <hr class="cut-out" />
          <p>If you have already submitted documents in the past, log in here to check for responses.</p>
          <span id="fa-icon">
            <span id="initial">
              <a href="/login" class="btn block">
                <img src="{{ url_for('static', filename='i/font-awesome/comments-white.png') }}" width="20px" /> Check for a response
              </a>
            </span>
            <span id="onhover">
              <a href="/login" class="btn block">
                <img src="{{ url_for('static', filename='i/font-awesome/comments-blue.png') }}" width="20px" /> Check for a response
              </a>
            </span>
          </span>
        </div>
      </div>

      <footer>
        Like all software, SecureDrop may contain security bugs. Use at your own risk. Powered by SecureDrop {{ version }}.
      </footer>
    </div>

    <!-- Warning bubble to help TB users disable Javascript with NoScript.
    Included here so the images can preload while the user is first
    reading the page. Hidden by default. -->
    <div class="bubble">
      <p>You appear to be using the Tor Browser. You can turn the Security Slider to High in 4 easy steps!</p>
      <ol>
        <li>Click the <img src="{{ url_for('static', filename='i/toronion.png') }}" alt="Tor icon" />Tor icon in the toolbar above</li>
        <li>Click <strong>Security Settings</strong></li>
        <li>Turn the Slider to <strong>High</strong></li>
        <li>If the page does not refresh automatically, <a href="/">click here</a> to refresh the page</li>
      </ol>

      <p><a href="/howto-disable-js">Not using the Tor Browser Bundle?</a></p>
    </div>

  </body>
</html>
