{% if g.locales|length > 1 %}
<section id="locales-menu" aria-labelledby="locales-menu-heading">
  <h2 id="locales-menu-heading" hidden>
    {{ gettext('Selected language')}}: {{ g.locales[g.localeinfo.id].display_name }}
  </h2>
  <input id="locales-menu-checkbox" type="checkbox" role="button"
    aria-label="{{ gettext('Choose language') }}" aria-haspopup="menu" aria-controls="locales-menu-list" aria-pressed="true">
  <label for="locales-menu-checkbox" aria-hidden="true">
    {{ g.locales[g.localeinfo.id].display_name }}
  </label>

  <ul id="locales-menu-list" role="menu" aria-labelledby="locales-menu-checkbox">
    {% for locale in g.locales.keys() %}
    <li role="none">
      {% if locale != g.localeinfo.id %}
      {% set args = {} %}
      {% do args.update(request.args or {}) %}
      {% do args.update(request.view_args or {}) %}
      {% do args.update({'l': locale}) %}
      {% set checked = 'false' %}
      {% set url = url_for(request.endpoint or 'main.index', **args) %}
      {% else %}
      {% set url = '' %}
      {% set checked = 'true' %}
      {% endif %}
      <!-- nosemgrep: generic.html-templates.security.var-in-href.var-in-href -->
      <a href="{{ url }}" rel="nofollow" lang="{{ g.locales[locale].language_tag }}" hreflang="{{ g.locales[locale].language_tag }}"
        role="menuitemradio" aria-checked="{{ checked }}">
        {{ g.locales[locale].display_name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
