{% extends "base.html" %}
{% block body %}

<h1>{{ gettext('Enter Codename') }}</h1>

{% include 'flashed.html' %}

<form method="post" action="/login" autocomplete="off">
<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">

<p class="center"><input id="login-with-existing-codename" type="password" name="codename" class="codename-box" autocomplete="off" placeholder="{{ gettext('Enter your codename') }}" autofocus></p>
<div class="pull-right">
  <a href="{{ url_for('index') }}" class="sd-button btn secondary" id="cancel">{{ gettext('CANCEL') }}</a>
  <button type="submit" class="sd-button btn primary" id="login">
    <img class="icon off-hover" src="{{ url_for('static', filename='i/font-awesome/fa-arrow-circle-o-right-white.png') }}" width="18px" height="18px">
    <img class="icon on-hover" src="{{ url_for('static', filename='i/font-awesome/fa-arrow-circle-o-right-blue.png') }}" width="18px" height="18px">
    {{ gettext('CONTINUE') }}
  </button>
</div>

</form>
{% endblock %}
