{% extends "base.html" %}

{% block header %}
{{ super() }}
{% if new_user %}
<section class="code-reminder pull-left" id="codename-hint" aria-label="{{ gettext('Codename') }}">
  <div id="codename-hint-visible">
    {# FIXME:
    <img class="pull-left" src="{{ url_for('static', filename='i/font-awesome/lock-black.png') }}" alt="" width="17" height="20">
    #}
    <label id="codename-label" for="codename" aria-hidden="true">{{ gettext('Remember, your codename is:') }}</label>
    {# ARIA-HIDDEN violates axe rule aria-hidden-focus, because we (a) want to
    hide the superfluous "show"/"hide" links from screen-readers, (b) do not
    want to remove these elements from sequential navigation with TABINDEX="-1",
    and (c) do not have recourse in the Source Interface to scripting the
    ARIA-HIDDEN value dynamically.  Cf. #6031. #}
    <a id="codename-hint-show" class="show pull-right visible-codename" href="#codename-hint-visible" aria-hidden="true" tabindex="-1">{{ gettext('Show') }}</a>
    <div id="codename-hint-content" class="hidden-codename codename">
      <a id="codename-hint-hide" class="pull-right" href="#codename-hint" aria-hidden="true">{{ gettext('Hide') }}</a>
      <output id="codename" aria-labelledby="codename-label">{{ codename }}</output>
    </div>
  </div>
</section>
{# FIXME:
<hr class="header-separator-high">
#}
{% else %}
{# FIXME:
<hr class="no-line">
#}
{% endif %}
{% endblock %}

{% block body %}
<div class="center">
  {% include 'flashed.html' %}
</div>

<section aria-labelledby="submit-heading">
{% if allow_document_uploads %}
<h2 id="submit-heading" class="headline">{{ gettext('Submit Files or Messages') }}</h2>
<p class="explanation">{{ gettext('You can submit any kind of file, a message, or both.') }}</p>
{% else %}
<h2 id="submit-heading" class="headline">{{ gettext('Submit Messages') }}</h2>
{% endif %}

<p class="explanation extended-explanation">
{% if allow_document_uploads %}
{{ gettext('If you are already familiar with GPG, you can optionally encrypt your files and messages with our <a href="{url}" class="text-link">public key</a> before submission. Files are encrypted as they are received by SecureDrop.').format(url=url_for('info.download_public_key')) }}
{% else %}
{{ gettext('If you are already familiar with GPG, you can optionally encrypt your messages with our <a href="{url}" class="text-link">public key</a> before submission.').format(url=url_for('info.download_public_key')) }}
{% endif %}
{{ gettext('<a href="{url}" class="text-link">Learn more</a>.').format(url=url_for('info.why_download_public_key')) }}</p>

{# FIXME:
<hr class="no-line">
#}

<form id="upload" method="post" action="{{ url_for('main.submit') }}" enctype="multipart/form-data" autocomplete="off">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="snippet">
{% if allow_document_uploads %}
    <div class="attachment grid-item center">
      {# FIXME:
      <img class="center" id="upload-icon" src="{{ url_for('static', filename='i/arrow-upload-large.png') }}" alt="" width="56" height="56">
      #}
      {{ form.fh(**{"aria-describedby": "max-file-size"}) }}
      <p class="center" id="max-file-size">{{ gettext('Maximum upload size: 500 MB') }}</p>
    </div>
{% endif %}
    <div class="message grid-item{% if not allow_document_uploads %} wide{% endif %}">
        {{ form.msg(class="fill-parent") }}
    </div>
  </div>

  {# FIXME:
  <hr class="no-line">
  #}
  <div class="pull-right">
    <button type="submit" id="submit-doc-button">
      {{ gettext('SUBMIT') }}
    </button>



    <a href="{{ url_for('main.lookup') }}" class="btn secondary" id="cancel">
      {# FIXME:
      <img class="icon off-hover" src="{{ url_for('static', filename='i/x_icon-button_blue.png') }}" alt="" width="9" height="11">
      <img class="icon on-hover" src="{{ url_for('static', filename='i/x_icon-grimace_blue.png') }}" alt="" width="9" height="11">
      #}
      {{ gettext('CANCEL') }}
    </a>
  </div>
</form>
</section>

{# FIXME:
<hr class="no-line">
#}

<section aria-labelledby="replies-heading">
<h2 id="replies-heading" class="headline">{{ gettext('Read Replies') }}</h2>

<div id="replies">
  {% if replies %}
    <output role="status">
      {{ gettext("You have received a reply. To protect your identity in the unlikely event someone learns your codename, please delete all replies when you're done with them. This also lets us know that you are aware of our reply. You can respond by submitting new files and messages above.") }}
    </output>
    {# FIXME:
    <hr class="no-line">
    #}
    {% for reply in replies %}
      <article class="reply" aria-labelledby="timestamp-{{ reply.filename }}">
        <time id="timestamp-{{ reply.filename }}" class="date" title="{{ reply.date|rel_datetime_format }}" datetime="{{ reply.date }}" aria-hidden="true">{{ reply.date|rel_datetime_format(relative=True) }}</time>
        <form id="delete" class="message" method="post" action="{{ url_for('main.delete') }}" autocomplete="off">
          <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
          <input type="hidden" name="reply_filename" value="{{ reply.filename }}" autocomplete="off">
          <a href="#confirm-delete-{{ reply.filename }}" id="delete-reply-{{ reply.filename }}" class="delete" aria-label="{{ gettext('Delete this reply') }}">
            {{ gettext('Delete') }}
            {# FIXME:
            <img class="icon off-hover" id="delete-reply-{{ reply.filename }}" src="{{ url_for('static', filename='i/trash-x-out.png') }}" alt="{{ gettext('Delete reply') }}" width="16" height="20">
            <img class="icon on-hover" id="delete-reply-{{ reply.filename }}" src="{{ url_for('static', filename='i/trash-x-solid.png') }}" alt="{{ gettext('Delete reply') }}" width="16" height="20">
            #}
          </a>
          <dialog open id="confirm-delete-{{ reply.filename }}" class="confirm-prompt" aria-labelledby="delete-heading-{{ reply.filename }}">
            <h3 id="delete-heading-{{ reply.filename }}" hidden>Delete reply from {{ reply.date|rel_datetime_format(relative=True) }}?</h3>
            <p>{{ gettext('Delete this reply?') }}
              <a href="#delete">{{ gettext('Cancel') }}</a>
              <button type="submit" class="danger" id="confirm-delete-reply-button-{{ reply.filename }}">{{ gettext('DELETE') }}</button>
            </p>
          </dialog>
        </form>
        <blockquote>{{ reply.decrypted | nl2br }}</blockquote>
        {# FIXME:
        <div class="clearfix"></div>
        #}
      </article>
    {% endfor %}
    <form id="delete-all" method="post" action="{{ url_for('main.batch_delete') }}">
      <a class="btn danger" href="#delete-all-confirm">{{ gettext('DELETE ALL REPLIES') }}</a>
      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <dialog open id="delete-all-confirm" class="hidden-prompt" aria-labelledby="delete-all-heading">
        <h3 id="delete-all-heading"><strong>{{ gettext('Are you finished with the replies?') }}</strong></h3>
        <button class="danger" type="submit">{{ gettext('YES, DELETE ALL REPLIES') }}</button>
        <a class="btn" href="#delete-all">{{ gettext('NO, NOT YET') }}</a>
      </dialog>
    </form>
  {% else %}
    <output role="status" id="no-replies" class="explanation">{{ gettext('— No Messages —') }}</output>
  {% endif %}
</div>
</section>

{% endblock %}
