{% extends "base.html" %}
{% block body %}

{% if new_user %}
<div class="code-reminder pull-left" id="codename-hint">
  <div id="codename-hint-visible">
    <img class="pull-left" src="{{ url_for('static', filename='i/font-awesome/lock-black.png') }}" width="17" height="20"> {{ gettext('Remember, your codename is:') }}
    <a id="codename-hint-show" class="show pull-right visible-codename" href="#codename-hint-visible">{{ gettext('Show') }}</a>
    <div id="codename-hint-content" class="hidden-codename codename">
      <a id="codename-hint-hide" class="pull-right" href="#codename-hint">{{ gettext('Hide') }}</a>
      <p>{{ codename }}</p>
    </div>
  </div>
</div>
<hr class="header-separator-high">
{% else %}
  <hr class="no-line">
{% endif %}

<div class="center">
  {% include 'flashed.html' %}
</div>

<!--<button id="generate"></button>-->
<script src="/static/js/messaging.js"></script>
<script type="module">
  import init, { SecureDropSourceSession } from '/static/js/securedrop_source.js';

  async function run() {
    await init();

    // As soon as wasm is loaded, we begin key generation if it's not done yet.
    const needs_registration = JSON.parse("{{ to_register }}".toLowerCase());
    const source_uuid = "{{ source_uuid }}";
    const securedrop_group = "{{ securedrop_group }}";

    // TODO: TEMP ONLY
    const token = "{{ token }}"

    console.log(`we need to register: ${needs_registration}`);
    var session = SecureDropSourceSession.new(source_uuid);

    await prepareSession( session, needs_registration, securedrop_group, token );

    // Todo when we have multiple journalists
    // For each journalist for which we do not have prekeys:
    // But for now the group is a single journalist.
    var journalist_uuid = securedrop_group;

    const submitButton = document.getElementById("submit-doc-button");
    submitButton.addEventListener("click", event => {
      removeSendMsg();
      messageEncryptAndSend(session, journalist_uuid, token);
      });

    // message checking loop
    while (true) {
      messageDecryptAndSend( session, token );
      // Wait
      await sleep(15000);
    }
  }

  run();
</script>
<!-- TODO: Your fingerprint is X -->

{% if allow_document_uploads %}
<h2 class="headline">{{ gettext('Submit Files or Messages') }}</h2>
<p class="explanation">{{ gettext('You can submit any kind of file, a message, or both.') }}</p>
{% else %}
<h2 class="headline">{{ gettext('Submit Messages') }}</h2>
{% endif %}

<hr class="no-line">

<div class="snippet">
{% if allow_document_uploads %}
  <div class="attachment grid-item center">
    <img class="center" id="upload-icon" src="{{ url_for('static', filename='i/arrow-upload-large.png') }}" width="56" height="56">
    {{ form.fh() }}
    <p class="center" id="max-file-size">{{ gettext('Maximum upload size: 500 MB') }}</p>
  </div>
{% endif %}
  <div class="message grid-item{% if not allow_document_uploads %} wide{% endif %}">
      {{ form.msg(class="fill-parent", id="message-input") }}
  </div>
</div>

<hr class="no-line">
<div class="pull-right" id="below-the-submit">
  <button type="submit" id="submit-doc-button" disabled="true">
    {{ gettext('SUBMIT') }}
  </button>

  <a href="{{ url_for('main.lookup') }}" class="btn secondary" id="cancel">
    <img class="icon off-hover" src="{{ url_for('static', filename='i/x_icon-button_blue.png') }}" width="9" height="11">
    <img class="icon on-hover" src="{{ url_for('static', filename='i/x_icon-grimace_blue.png') }}" width="9" height="11">
    {{ gettext('CANCEL') }}
  </a>
</div>

<hr class="no-line">

<h2 class="headline">{{ gettext('Responses') }}</h2>

<div id="replies">
  <aside>
    <p>{{ gettext("When you receive a reply, to protect your identity in the unlikely event someone learns your codename, your replies will disappear after your session ends. You can respond by submitting new files and messages above.") }}</p>
  </aside>
    <hr class="no-line">
</div>

{% endblock %}
