{% extends "base.html" %}
{% block body %}
<h1>You Should Use Tor Browser</h1>
<p>If you are not using Tor Browser, you <strong>may not be anonymous</strong>.</p>
<p>If you want to submit information to SecureDrop, we <strong>strongly advise you</strong> to install Tor Browser and use it to access our site safely and anonymously.</p>
<p>Copy and paste the following address into your browser and follow the instructions to download and install Tor Browser: <pre>https://www.torproject.org/projects/torbrowser.html.en</pre></p>
{% endblock %}
