{% extends "base.html" %}
{% block body %}
<h2>Why download the journalist's public key?</h2>
<p>If you are already familiar with the GPG encryption software, you may wish to encrypt your submissions yourself. To do so:
<ol>
<li><a href="/journalist-key">Download</a> the public key. The public key is a text file with the extension <code>.asc</code></li>
<li>Import it into your GPG keyring.
<ul>
<li>If you are using <a href="/redirect/https://tails.boum.org/">Tails</a>, you can double-click the <code>.asc</code> file you just downloaded and it will be automatically imported to your keyring.</li>
<li>If you are using Mac/Linux, open the Terminal. You can import the key with <code>gpg --import /path/to/key.asc</code>.</li>
</ul>
</li>
<li>Encrypt your submission.
<ol>
<li>You will need to be able to identify the key (this is called the "user ID" or uid). Since the public key's filename is the key's fingerprint (with .asc at the end), you can just copy and paste that. (don't include the <code>.asc</code>!)</li>
<li>On all systems, open the Terminal and use this gpg command: <code>gpg --recipient &lt;user ID&gt; --encrypt roswell_photos.pdf</code></li>
</ol>
</li>
<li>Upload your encrypted submission. It will have the same filename as the unencrypted file, with .gpg at the end (e.g. <code>roswell_photos.pdf.gpg</code>)</li>
</ol>
<br><a href="/lookup">&laquo; Back to submission page</a>
{% endblock %}
