Source: ossec.net
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@pressfreedomfoundation.org>
Homepage: https://pressfreedomfoundation.org/securedrop
Package: securedrop-ossec-agent
Version: 2.8.1
Architecture: amd64
Pre-Depends: debconf (>= 0.2.17)
Depends: debhelper (>= 8.0.0),libc6 (>= 2.7),libssl1.0.0 (>= 1.0.0),expect,inotify-tools,adduser
Conflicts: ossec-server
Description: Installs a generic OSSEC agent
  This package installs a generic OSSEC agent
