Source: ossec.net
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@pressfreedomfoundation.org>
Homepage: https://pressfreedomfoundation.org/securedrop
Package: securedrop-ossec-agent
Version: 2.8.1
Architecture: amd64
Depends: libc6,libssl1.0.0,expect,inotify-tools,adduser
Conflicts: ossec-server
Description: Installs the securedrop pre-configured OSSEC agent
  This package installs an OSSEC agent pre-configured for the
  SecureDrop app server. 
