Source: securedrop
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@pressfreedomfoundation.org>
Homepage: https://pressfreedomfoundation.org/securedrop
Package: securedrop-app-code
Version: 0.3-dev
Architecture: amd64
Depends: python-pip
Description: Packages the SecureDrop application code pip dependencies and apparmor profiles as deb packag. This package will not put the apparmor profiles in enforce mode; that is done as needed by the ansible playbook. This package does use pip to install the pip wheelhouse
