{"public_key": "{{ tor_v3_app["public_key"] }}", "private_key": "{{ tor_v3_app["private_key"] }}", "app_ssh_private_key": "{{ tor_v3_app["app_ssh_private_key"] }}", "app_ssh_key": "{{ tor_v3_app["app_ssh_key"] }}"}