import os

JOURNALIST_KEY='65A1B5FF195B56353CC63DFFCC40EF1228271441' # test_journalist_key.pub
SECUREDROP_ROOT='/tmp/securedrop_test'

FLASK_TESTING = True
FLASK_CSRF_ENABLED = False

### Database Configuration
# Default to using a sqlite database file for testing
DATABASE_ENGINE = 'sqlite'
DATABASE_FILE=os.path.join(SECUREDROP_ROOT, 'db_test.sqlite')
