Source: securedrop
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@pressfreedomfoundation.org>
Homepage: https://pressfreedomfoundation.org/securedrop
Package: securedrop-monitor-ossec
Version: 0.2.1-dev
Architecture: amd64
Pre-Depends: debconf (>= 0.2.17)
Depends: debhelper (>= 8.0.0),adduser,expect,libc6 (>= 2.7),inotify-tools,procmail,postfix,mailutils,securedrop-monitor-hardening
Conflicts: securedrop-app-interfaces,securedrop-source,securedrop-document,securedrop-app-hardening,securedrop-app-ossec
Description: Installs the pre-packaged OSSEC server
  This requires an IP address for the smtp-relay, destination email address
  for the ossec alerts and public gpg key with the same email address set
  in the email address field. This will install OSSEC server and procmail.
  All of the emails sent to the root@localhost including OSSEC alerts,
  unattended-upgrades and others will be encrypted using the public key 
  provided an emailed to the destination addess. Check your spam folders
  for the alerts.
