Source: securedrop
Section: web
Priority: optional
Maintainer: james <james@pressfreedomfoundation.org>
Homepage: https://pressfreedomfoundation.org/securedrop
Package: securedrop-monitor
Version: 0.2.1-dev
Architecture: amd64
Replaces: tor,procps,unattended-upgrades,openssh-client
Pre-Depends: debconf (>= 0.2.17)
Depends: debhelper (>= 8.0.0),adduser,expect,libc6 (>= 2.7),openssh-server,deb.torproject.org-keyring,tor,secure-delete,haveged,ntp,unattended-upgrades,sysstat,iptables,libpam-google-authenticator
Conflicts: securedrop-app,securedrop-source,securedrop-document
Description: Installs the SecureDrop Monitor Server
  Only install on a dedicated host. This package will modify your iptables
  rules and SSH config. After installation SSH will only be accessible
  through Tor Authenticated Hidden Services and will require 2-factor
  authentication for each user in the ssh group.
