---
common-steps:
  - &rebaseontarget
    run:
      name: Rebase on top of GitHub target branch
      command: ./devops/scripts/rebase-ci.sh

  - &createcachedir
    run:
      name: Ensure cache dir exists and permissions are good
      command: |
        sudo mkdir -p /caches && sudo chown circleci: -R /caches

  - &restorecache
    restore_cache:
      key: v1-sd-layers-{{ checksum "securedrop/dockerfiles/xenial/python2/Dockerfile" }}
      paths:
        - /caches/layers.tar.gz

  - &loadimagelayers
    run:
      name: Load image layer cache
      command: |
        set +o pipefail
        docker load -i /caches/layers.tar |true

  - &dockerimagebuild
    run:
      name: Build Docker images
      command: |
        set +o pipefail
        docker images
        fromtag=$(docker images |grep securedrop-test-xenial-py2 |head -n1 |awk '{print $2}')
        cd securedrop && DOCKER_BUILD_ARGUMENTS="--cache-from securedrop-test-xenial-py2:${fromtag:-latest}" ./bin/dev-shell true

  - &saveimagelayers
    run:
      name: Save Docker image layer cache
      command: |
        docker images
        docker save -o /caches/layers.tar securedrop-test-xenial-py2:latest

  - &savecache
    save_cache:
      key: v1-sd-layers-{{ checksum "securedrop/dockerfiles/xenial/python2/Dockerfile" }}
      paths:
        - /caches/layers.tar

version: 2
jobs:
  lint:
    machine:
      enabled: true
    steps:
      - checkout
      - *rebaseontarget
      - run: make ci-lint

  app-tests:
    machine:
      enabled: true
    environment:
      DOCKER_API_VERSION: 1.23
      BASE_OS: xenial
    parallelism: 3
    steps:
      - checkout
      - *rebaseontarget
      - *createcachedir
      - *restorecache
      - *loadimagelayers
      - *dockerimagebuild
      - *saveimagelayers
      - *savecache

      - run:
          name: Make test results directory
          command: mkdir -p ~/test-results

      - run:
          name: Run tests
          no_output_timeout: 20m
          command: |
            export TESTFILES=$(cd securedrop; circleci tests glob 'tests/test*py' 'tests/**/test*py' |circleci tests split --split-by=timings |xargs echo)
            docker rm -f securedrop-test-xenial-py2 || true
            fromtag=$(docker images |grep securedrop-test-xenial-py2 |head -n1 |awk '{print $2}')
            cd securedrop && DOCKER_RUN_ARGUMENTS=$(bash <(curl -s https://codecov.io/env)) DOCKER_BUILD_ARGUMENTS="--cache-from securedrop-test-xenial-py2:${fromtag:-latest}" make test

      - store_test_results:
          path: ~/test-results

      - store_artifacts:
          path: ~/test-results

  python3-app-tests:
    machine:
      enabled: true
    environment:
      DOCKER_API_VERSION: 1.23
      BASE_OS: xenial
      PYTHON_VERSION: 3
    parallelism: 3
    steps:
      - checkout
      - *rebaseontarget
      - *createcachedir

      - restore_cache:
          key: v1-sd-layers-{{ checksum "securedrop/dockerfiles/xenial/python3/Dockerfile" }}
          paths:
            - /caches/layers.tar.gz

      - *loadimagelayers

      - run:
          name: Build Docker images
          command: |
            set +o pipefail
            docker images
            fromtag=$(docker images |grep securedrop-test-xenial-py3 |head -n1 |awk '{print $2}')
            cd securedrop && DOCKER_BUILD_ARGUMENTS="--cache-from securedrop-test-xenial-py3:${fromtag:-latest}" ./bin/dev-shell true

      - run:
          name: Save Docker image layer cache
          command: |
            docker images
            docker save -o /caches/layers.tar securedrop-test-xenial-py3:latest

      - save_cache:
          key: v1-sd-layers-{{ checksum "securedrop/dockerfiles/xenial/python3/Dockerfile" }}
          paths:
            - /caches/layers.tar

      - run:
          name: Make test results directory
          command: mkdir -p ~/test-results

      - run:
          name: Run tests
          command: |
            export TESTFILES=$(cd securedrop; circleci tests glob 'tests/test*py' 'tests/**/test*py' |circleci tests split --split-by=timings |xargs echo)
            docker rm -f securedrop-test-xenial-py3 || true
            fromtag=$(docker images |grep securedrop-test-xenial-py3 |head -n1 |awk '{print $2}')
            cd securedrop && DOCKER_BUILD_ARGUMENTS="--cache-from securedrop-test-xenial-py3:${fromtag:-latest}" make test

      - store_test_results:
          path: ~/test-results

      - store_artifacts:
          path: ~/test-results

  translation-tests:
    machine:
      enabled: true
    environment:
      DOCKER_API_VERSION: 1.23
      BASE_OS: xenial
    parallelism: 2
    steps:
      - checkout
      - *rebaseontarget
      - *createcachedir
      - *restorecache
      - *loadimagelayers
      - *dockerimagebuild
      - *saveimagelayers
      - *savecache

      - run:
          name: Make test results directory
          command: mkdir -p ~/test-results

      - run:
          name: Run tests
          command: |
            export TESTFILES=$(cd securedrop; circleci tests glob 'tests/pageslayout/test*py' |circleci tests split --split-by=timings |xargs echo)
            docker rm -f securedrop-test-xenial-py2 || true
            fromtag=$(docker images |grep securedrop-test-xenial-py2 |head -n1 |awk '{print $2}')
            cd securedrop && DOCKER_BUILD_ARGUMENTS="--cache-from securedrop-test-xenial-py2:${fromtag:-latest}" make translation-test

      - store_test_results:
          path: ~/test-results

  admin-tests:
    docker:
      - image: gcr.io/cloud-builders/docker
    steps:
      - run: apt-get install -y make
      - checkout
      - setup_remote_docker
      - run: cd admin ; make test

  fetch-tor-debs:
    docker:
      - image: gcr.io/cloud-builders/docker
    steps:
      - run: apt-get install -y make virtualenv python-pip
      - checkout
      - setup_remote_docker
      - run: make fetch-tor-packages

  updater-gui-tests:
    docker:
      - image: circleci/python:3.5
    steps:
      - checkout

      - run:
          name: Install libqt5designer5
          command: sudo apt-get update && sudo apt-get install -y libqt5designer5

      - run:
          name: Install pip==18.0 to work pipenv/pip bug
          command: |
            cd journalist_gui
            pipenv run pip install pip==18.0

      - run:
          name: Install requirements
          command: |
            cd journalist_gui
            pipenv install

      - run:
          name: Run tests
          command: |
            cd journalist_gui
            xvfb-run -a pipenv run python3 test_gui.py

  static-analysis-and-no-known-cves:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: Check Python dependencies for CVEs
          command: make safety

      - run:
          name: Run static security testing on source code
          command: make bandit

  staging-test-with-rebase:
    machine:
      enabled: true

    working_directory: ~/sd
    steps:
      - checkout
      - *rebaseontarget

      - run:
          name: Run Staging tests on GCE (Xenial)
          command: make ci-go
          no_output_timeout: 20m

      - run:
          name: Ensure environment torn down
          # Always report true, since env should will destroyed already
          # if all tests passed.
          command: make ci-teardown || true
          when: always

      - store_test_results:
          path: ~/sd/junit

      - store_artifacts:
          path: ~/sd/junit

  deb-tests:
    docker:
      - image: gcr.io/cloud-builders/docker
    steps:
      - run: apt-get install -y make virtualenv python-pip
      - checkout
      - setup_remote_docker
      - run: make ci-deb-tests

workflows:
  version: 2
  securedrop_ci:
    jobs:
      - lint
      - app-tests:
          filters:
            branches:
              ignore:
                - /docs-.*/
                - /i18n-.*/
      - python3-app-tests:
          filters:
            branches:
              ignore:
                - /docs-.*/
                - /i18n-.*/
      - admin-tests:
          filters:
            branches:
              ignore:
                - /docs-.*/
                - /i18n-.*/
      - fetch-tor-debs:
          filters:
            branches:
              ignore:
                - /docs-.*/
                - /i18n-.*/
      - updater-gui-tests:
          filters:
            branches:
              ignore:
                - /docs-.*/
                - /i18n-.*/
      - static-analysis-and-no-known-cves:
          filters:
            branches:
              ignore:
                - /docs-.*/
                - /i18n-.*/
      - staging-test-with-rebase:
          filters:
            branches:
              ignore:
                - /docs-.*/
                - /i18n-.*/
          requires:
            - lint
      - translation-tests:
          filters:
            branches:
              only:
                - /i18n-.*/
      - deb-tests:
          filters:
            branches:
              only:
                - /update-builder-.*/

  nightly:
    triggers:
      - schedule:
          cron: "0 4 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - static-analysis-and-no-known-cves
