---
version: 2
jobs:
  docs-lint:
    docker:
      - image: quay.io/freedomofpress/circleci-docker:latest

    steps:
      - checkout

      - run:
          name: Rebase on-top of latest develop
          command: ./devops/scripts/rebase-develop.sh

      - run:
          name: Installation pre-reqs
          command: pip install -U -r securedrop/requirements/develop-requirements.txt

      - run:
          name: Run docs lint
          command: make docs-lint

  staging-test:
    docker:
      - image: quay.io/freedomofpress/circleci-docker:latest
        environment:
          FPF_CI: true
          CI_SD_ENV: staging
          CI_AWS_TYPE: t2.medium
          FPF_GRSEC: false
          TEST_REPORTS: /root/sd
    working_directory: ~/sd

    steps:

      - checkout

      - run:
          name: Rebase on-top of latest develop
          command: ./devops/scripts/rebase-develop.sh

      - run:
          name: Installation pre-reqs
          command: pip install -U -r securedrop/requirements/develop-requirements.txt

      - run:
          name: Check Python dependencies for CVEs
          command: make safety

      - setup_remote_docker

      - run:
          name: Run Debian builds
          command: make build-debs

      - run:
          name: Provision staging servers and run tests
          command: make ci-go

      - run:
          name: Ensure environment torn down
          command: molecule destroy -s aws
          when: on_fail

      - store_test_results:
          path: /root/sd/junit

      - store_artifacts:
          path: /root/sd/junit

workflows:
  version: 2
  securedrop_ci:
    jobs:
      - docs-lint
      - staging-test:
          requires:
            - docs-lint
