Host *
   ForwardAgent no
   ForwardX11 no
   ForwardX11Trusted no
   RhostsRSAAuthentication no
   RSAAuthentication yes
   PasswordAuthentication yes
   HostbasedAuthentication no
   GSSAPIAuthentication no
   GSSAPIDelegateCredentials no
   GSSAPIKeyExchange no
   GSSAPITrustDNS no
   BatchMode no
   CheckHostIP yes
   AddressFamily any
   StrictHostKeyChecking ask
   IdentityFile ~/.ssh/identity
   IdentityFile ~/.ssh/id_rsa
   IdentityFile ~/.ssh/id_dsa
   Port 22
   Protocol 2
   Cipher blowfish
   Ciphers aes256-gcm@openssh.com,aes256-ctr,chacha20-poly1305@openssh.com
   MACs hmac-sha2-256,hmac-sha2-512
     SendEnv LANG LC_*
     HashKnownHosts yes
