Source: securedrop
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@pressfreedomfoundation.org>
Homepage: https://pressfreedomfoundation.org/securedrop
Package: securedrop-app-hardening
Version: 0.2.1-dev
Architecture: amd64
Pre-Depends: debconf (>= 0.2.17)
Depends: debhelper (>= 8.0.0),adduser,openssh-server,deb.torproject.org-keyring,tor,apparmor-profiles,apparmor-utils,secure-delete,haveged,ntp,libpam-google-authenticator,securedrop-app-interfaces,unattended-upgrades
Conflicts: securedrop-monitor
Description: Apply the security hardening configs for app server host
  Only install on a dedicated host. This package will modify your iptables
  rules and SSH config. After installation SSH will only be accessible
  through Tor Authenticated Hidden Services and will require 2-factor
  authentication for each user in the ssh group.
