* {
  box-sizing: border-box;
  /* Firefox 24 (the basis of TBB at the time of this writing) does not support
   * unprefixed box-sizing. */
  -moz-box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3 {
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}

a {
  color: #7985aa;
}

a.plain {
  color: #333;
}

a.plain:hover {
  color: #7985aa;
}

.content {
  position: relative;
  margin: 15px auto;
  width: 980px;
}

.document-actions {
  margin-bottom: 20px;
  text-align: left;
}
.doc-check {
  margin-right: 10px;
}

.panel {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 30px;
  border: 1px solid #c3c3c3;
  float: right;
}

#header {
  float: left;
}
#header .powered {
  margin-top: 10px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #666666;
  letter-spacing: normal;
}

footer {
  clear: both;
  text-align: center;
  border-top: 1px dashed #f3f3f3;
  margin-top: 20px;
  padding-top: 20px;
  color: #9e9e9e;
}
a.text-link {
  color: #7985aa;
}

.grid {
  letter-spacing: -0.31em;
}

.grid-item {
  display: inline-block;
  letter-spacing: normal;
}

.logo {
  width: 250px;
  margin-right: 20px;
  margin-top: 36px;
}
.logo.small {
  width: 150px;
  margin-top:20px;
}

.option {
  display: inline-block;
  width: 30%;
  min-width: 300px;
  min-height: 290px;
  margin: 1%;
  padding: 25px;
  border: 1px solid #c3c3c3;
  vertical-align: top;
  position: relative;
}

.option.alt {
  background-color: #7985aa;
  color: white;
}

.option.selected {
  width: 500px;
  height: auto;
}

button, a.btn, .btn {
  background: #7985aa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid transparent;
  color: white;
  font-size: medium;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

button.plain {
  background: none;
  color: #333;
}

button.plain:hover {
  background : none;
  color: #333;
  border: 1px solid transparent;
}

button:hover, a.btn:hover, .btn:hover {
  background: white;
  color: #7985aa;
  border: 1px solid #7985aa;
}

button.alt, a.btn.alt, .btn.alt {
  background: transparent;
  border: 1px solid white;
}
button.alt:hover, a.btn.alt:hover, .btn.alt:hover {
  background: white;
  color: #7985aa;
}

button.danger, a.danger, .btn.danger {
  background-color: #d55c5c
}
button.danger:hover, a.btn.danger:hover, .btn.danger:hover {
  background: white;
  border-color: #d55c5c;
  color: #d55c5c;
}
button.block, a.btn.block {
  text-decoration: none;
  min-width: 250px;
  margin-bottom: 20px;
}

button.small, a.btn.small, .btn.small {
  font-size: small;
  padding: 3px 10px;
}

button.small-danger, a.btn.small-danger, .btn.small-danger {
  background-color: #d55c5c;
  font-size: small;
  padding: 3px 10px;
}

.btn.primary {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.select {
  border: 1px #C4C2C2 solid;
  padding: 3px 10px;
  font-size: small;
  color: #6F6F6F;
  margin-right: 2px;
}
.select:hover {
  border-color: #999;
  color: #333;
}

.warning {
  display: none;
  background-color: #ae3840;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: small;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.warning a {
  color: white;
}

#warning-close {
  cursor: pointer;
}

.confirm-prompt {
  visibility: hidden;
}

.confirm-prompt:target {
  visibility: visible;
}

p.serious {
  font-weight: bold;
  color: #ae3840;
}

.code {
  background: rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 15px;
  border-bottom: 2px solid #ae3840;
  font-size: large;
  text-align: center;
}

.code-reminder {
  background: rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px 10px;
  text-align: center;
}

.snippet {
  border: 1px solid #c3c3c3;
  background: #f3f3f3;
}
.snippet .attachment {
  background-color: #f3f3f3;
  padding: 12px;
  width: 330px;
  display: inline-block;
  vertical-align: top;
}
.snippet .attachment .file-options {
  padding-top: 8px;
}
.snippet .attachment .upload-icon {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 52pt;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}
.snippet .attachment input[type="file"] {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  font-size: 14px;
  min-width: 100%;
  max-width: 100%;
}
.snippet .message {
  display: inline-block;
  vertical-align: top;
  width: 406px;
  background: white;
  overflow: hidden;
}
.snippet .message textarea {
  vertical-align: top;
  display: block;
  padding: 10px;
  min-width: 406px;
  max-width: 406px;
  min-height: 168px;
  border: none;
}
.snippet .message textarea:focus {
  outline: none;
}

.pull-bottom {
  position: absolute;
  bottom: 0px;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

hr.cut-out {
  border-style: dashed;
  border-bottom: none;
  border-color: #c3c3c3;
}

hr.no-line {
  clear: both;
  border: none;
  height: 10px;
}

.clearfix {
  clear: both;
}

.center {
  text-align: center;
}

button.center {
  display: block;
  margin: 0 auto;
}

.flash {
  padding:10px;
  margin:10px;
  text-align: left;
  font-size: medium;
}

.notification {
  border:1px solid #8ed9f6;
  background-color: #e3f7fc;
  border-radius:10px;
  padding: 9px;
  font-size: medium;
  font-weight: normal;
}
.notification i {
  color: #4f7685;
  font-size: 18pt;
}
.error, .banner-warning {
  border:1px solid #F68E8E;
  background-color: #FCE3E3;
  border-radius:10px; }
.error i, .banner-warning i {
  color: #D62727;
  font-size: 18pt;
}

input.codename {
  width: 400px;
  padding: 10px;
  font-weight: bold; }

p#codename {
  font-weight:bold;
  /*
   * HACK: Firefox likes to add non-existent leading and/or trailing whitespace
   * to <span>s, but never does it to <p>s. This hack uses a <p> for the
   * codename so we can get the right copy behavior, and uses inline-block plus
   * tweaks the margin to make it look like a span
   */
  display:inline-block;
  margin:0;
}

#filter {
  font-family: monospace;
  padding: 5px;
  width: 250px;
}

#cols {
  padding: 0;
}
#cols li.source {
  background: #f3f3f3;
  border-bottom: 1px solid #ddd;
  padding: 6px;
  text-align: left;
}
#cols li.source:last-child {
  border-bottom: none;
}
#cols li.source .date {
  float: right;
  background-color: #999999;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}
#cols li.source .designation {
  display: inline-block;
  min-width: 260px;
}
#cols li.source .designation a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
  display: inline-block;
}
#cols li.source .submission-count {
  display: inline-block;
}
#cols li.source .submission-count span {
  border: 1px solid #dedede;
  padding: 3px;
  margin-right: 5px;
  font-size: 12px;
}
#cols li.source .submission-count span.unread {
  border: 0;
}

#replies .reply {
  border: 1px solid #999999;
  text-align: left;
  margin-bottom: 1em;
  border-radius: 5px;
}
#replies .reply .date {
  float: right;
  background-color: #999999;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}
#replies .reply button {
  float: right;
  padding: 5px;
  background-color: inherit;
  color: #d55c5c;
  font-size: 14px;
  border: 0;
  clear: right;
}
#replies .reply button:hover {
  border: 0;
  color: #FA6E6E;
}
#replies p {
  color: #777;
  font-style: italic;
}
p#no-replies {
  text-align: center;
}
#replies blockquote {
  margin: 1em 1em;
}

.journalist-view-single {
  padding-top: 0px;
  text-align: center;
}

.submissions {
  padding-left: 0px;
}
.submission {
  background: #f3f3f3;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
.submission:last-child {
  border-bottom: none;
}
.submission .file {
  min-width: 300px;
  display: inline-block;
}
.submission .file.reply {
  font-size: small;
}
.submission .info {
  font-size: 12px;
  color: #666666;
}
.submission .icon {
  display: inline-block;
  width: 3.5%;
  color: #7985aa;
}

ul.plain {
  list-style: none;
}

a#already-have-codename {
  float:right;
  margin-right:12px;
  margin-top:10px;
  color:#888;
  text-decoration:none;
}

a#already-have-codename:hover {
  text-decoration:underline;
  color:#666;
}

div.bubble {
    width:415px;
    position:absolute;
    background-color:#ffffff;
    left:115px;
    top:58px;
    border-radius:10px;
    border: 3px solid #666;
    padding: 10px 25px;
    display: none;
}

div.bubble:before {
    content:'';
    position:absolute;
    border-color: transparent transparent #666 #666;
    border-width: 25px;
    border-style: solid;
    left:30px;
    top:-50px;
    width:0px;
    height:0px;
}

div.bubble:after {
    content:'';
    position:absolute;
    border-color: transparent transparent #fff #fff;
    border-width: 25px;
    border-style: solid;
    left:33px;
    top:-43px;
    width:0px;
    height:0px;
}

div.bubble.tbb31plus {
  /* The NoScript logo was moved to the left of the back/forward buttons in TBB
   * 4.0 (based on Firefox 31) */
  left: 5px;
}

p.breadcrumbs {
  text-align: left;
  position: relative;
}

.button-star {
    padding: 0;
    background-color: rgb(240,240,240);
    color: orange;
    border: none;
}

ul.starred {
  margin-bottom: 1.33em;
}

button.starred {
    color: orange;
}

button.starred:hover {
    color: #FFC5AD;
    border: none;
    background-color: rgb(240,240,240);
}

button.un-starred {
    color: lightgray;
}

button.un-starred:hover {
    color: lightsalmon;
    border: none;
    background-color: rgb(240,240,240);
}

button.button-star:focus {
    outline:0;
}

div#logout {
  float:right;
  margin: 1em 1em 0 1em;
}

label {
     cursor: pointer;
}

em.light {
  color:gray;
}

div#qrcode_container {
  text-align: center;
}

span#shared_secret {
  background-color: #FFFD9E;
  color: #555;
  padding: 4px;
  border: 1px solid #999;
}

table#users {
  width: 100%;
}

table#users td {
  text-align: center;
}

#regenerate-codename-btn {
  padding: 5px 5px;
  color: #999;
  font-size: 14px;
  text-decoration: none;
}

#regenerate-codename-btn:hover {
  color:#333;
}

#regenerate-codename-btn-label {
  font-size: 10px;
}

#regenerate-code .confirm-prompt {
  font-size: 14px;
  font-style: italic;
  text-align: left;
}


#regenerate-code .confirm-prompt button {
  padding: 5px 15px;
}

#regenerate-code .confirm-prompt * {
  margin: 0 1%;
  font-size: inherit;
  font-style: normal;
}

div#select-container {
  display:inline;
}

div.document-actions button {
  font-size: 14px;
  padding: 6px 15px;
}

p#max-file-size {
  font-size:10px;
  font-style:italic;
  margin-bottom: 0;
}
