* {
  padding:0;
  margin:0;
}

body {
  background:#fff;
  color:#000;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size:13px;
  line-height:20px; 
}

a {
  color:#007dac;
  text-decoration:none;
}

.button{
  color:#ffffff;
  background:#007dac;
  border:none;
  font-family: Helvetica, Arial, Verdana, sans-serif;  
  text-transform:uppercase;
  height:30px;
  font-weight:600;
  padding:5px 10px;
  font-size:16px;
  margin:0 5px 0 0;
}
a.button:hover {
  cursor: pointer;
  color:#ffffff;
  background-color: black;
}

a:hover {
  color:#00a2de;
  cursor: pointer;
}


p {
  padding-bottom:20px;
}

h2{
  font-size:26px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom:20px;
}

div.info h1 {
  font-size:28px;
  font-weight:bold;
  line-height:1.4em;
  margin-bottom:16px;
}

div.info h2 {
  font-size:24px;
  font-weight:bold;
  line-height:1.4em;
  margin-bottom:16px;
}

div.info h3 {
  font-size:18px;
  font-weight:bold;
  line-height:1.4em;
  margin-bottom:16px;
}

div.info ol {
  margin-bottom:20px;
}

code {
  /* shamelessly stolen from Github */
  color:rgb(51, 51, 51);
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(221, 221, 221);
  border-radius:3px;
  padding:0px 3px;
}

.code-name {
  color:#00a2de;
  font-size:16px;
  font-weight:bold;
}


.submit-2 .code-name {font-size:20px;}

#wrapper{
  margin: 20px auto 20px auto;
  max-width: 600px;
}

#wrapper #header {
  text-align: center;
  margin-bottom: 20px;
}

#content {
}

.updated{
}


#footer{
  text-align: center;
  font-size: 12px;
  color: #333;
  margin-top: 50px;
  padding-bottom: 20px;
}

#browse-select{
  padding-bottom:20px;
}

form textarea{
  width: 100%;
  color: #333;
  border: 1px solid #666666;
  padding: 10px;
  font-family: Helvetica, Arial, Verdana, sans-serif;  
  font-weight:400;
  font-size:12px;
  margin-bottom:20px;
}

form input#filename{
  color:#666;
  border:none;
  font-family: Helvetica, Arial, Verdana, sans-serif;  
  font-weight:400;
  font-size:12px;
  height:30px;
  margin:0 5px 0 0;
  padding:0 10px;
}

form input#cleanup{
  color:#666;
  border:none;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight:400;
  font-size:12px;
  height:30px;
  margin:15px 5px 0 5px;
  padding:0 10px;
}

/* add back (removed by reset) indents and bullets for plain lists in text */
ul {
  margin-left:1em;
}

ul li {
  margin-left:1em;
}

ol {
  margin-left:1em;
}

ol li {
  margin-left:1em;
}


ul.plain {
  padding:0 0 20px 0;
}

ul.plain li {
  list-style:none;
  padding-bottom:10px;
}

.journalist-view-all ul {
  width:600px;
  color:#888;
}

#replies{
  padding: 0 0 30px 0;
}

.reply {
  border: 1px solid #333;
  padding:10px; 
  font-size:12px; 
}

.reply .date {
  font-size:10px;
  display:block;
  color: #666666;
  text-align: right;
}

.reply .message {
  display: block;
  padding: 0 0 10px 0;
}

#regenerate-box{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

form#regenerate-form{
  padding-bottom: 0px;
  padding-top: 10px;
}

span.regenerate-warning{
  color: #E00;
}

div.regenerate-warning{
  font-size: 90%;
  margin-top: 10px;
}

#source-left {
  width: 290px;
  float: left;
  padding: 0 10px 0 0;
}

#source-right {
  width: 290px;
  float: left;
  padding: 0 0 0 10px;
}

.clear {
  clear: both;
}

.notification {
  font-weight: bold;
  color: #009900;
  font-size: 20px;
}

div#js-warning-dim {
  z-index:1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.2);
}

div#warning {
  z-index:20;
  position:absolute;
  display:none;
  top:0;
  left:0;
  background-color:red;
  width:100%;
  font-size:1.5em;
}

div#warning_text {
  width:80%;
  margin:0 auto;
  text-align:center;
  padding:.5em;
}

div.center {
  width: 400px;
  height: 300px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

div#js-warning-tbb {
  width: 400px;
  height: 240px;
  background-color:#fff;
  color:#333;
  padding: 8px;
  z-index:2;
  margin: 0 auto;
}

div#js-warning-no-tbb {
  width: 100%;
  background-color:red;
  color:#333;
  padding: 8px;
  z-index:2;
  margin: 0 auto;
}

p.bubble {
  width:40%;
  position:absolute;
  background-color:#ffffff;
  left:90px;
  top:50px;
  border-radius:30px;
  border: 3px solid #666;
  padding: 30px;
  display:none;
}

p.bubble:before {
  content:'';
  position:absolute;
  border-color: transparent transparent #666 #666;
  border-width: 25px;
  border-style: solid;
  left:30px;
  top:-50px;
  width:0px;
  height:0px;
}

p.bubble:after {
  content:'';
  position:absolute;
  border-color: transparent transparent #fff #fff;
  border-width: 25px;
  border-style: solid;
  left:33px;
  top:-43px;
  width:0px;
  height:0px;
}

body .gritter-close{
  left: 268px;
  outline:0;
}
body .gritter-item{
  font-size: 12px;
}

p.header-warning {
  padding:1em 0 1.2em 0;
  width:100%;
  background:yellow;
  text-align:center;
  border-bottom:1px solid #FFE057;
}

.powered {
  margin: 10px 0;
  text-align: right;
}
.powered img {
  vertical-align: middle;
}

span#unread.some a{
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

input#filter{
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 3px;
}
