Source: securedrop
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@pressfreedomfoundation.org>
Homepage: https://pressfreedomfoundation.org/securedrop
Package: securedrop-document
Version: 0.2.1-dev
Architecture: all
Replaces: apache2-mpm-worker,apache2.2-common,tor,unattended-upgrades
Pre-Depends: debconf (>= 0.2.17),apache2-mpm-worker,tor
Depends: debhelper (>= 8.0.0),unattended-upgrades,apache2-mpm-worker,adduser,deb.torproject.org-keyring,tor,gnupg2,haveged,libapache2-mod-wsgi,python-dev,python-distutils-extra,python-pip,secure-delete,sqlite,libapache2-mod-xsendfile
Description: Install the SecureDrop Document Interface 
 This can be installed independently. But for it to function
 it will need shared access to /var/www/securedrop/{keys,store,db} directories
