[python: *.py]
silent=False

[python: source_app/*.py]
silent=False

[python: journalist_app/*.py]
silent=False

[jinja2: */*.html]
silent=False
extensions=jinja2.ext.autoescape,jinja2.ext.with_,webassets.ext.jinja2.AssetsExtension,jinja2.ext.do
