[Unit]
Description=OSSEC service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
ExecStart=/var/ossec/bin/ossec-control start
ExecStop=/var/ossec/bin/ossec-control stop

[Install]
WantedBy=multi-user.target
