Types: deb
URIs: https://archive.ubuntu.com/ubuntu/
Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates
Components: main universe restricted multiverse
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg

Types: deb
URIs: https://security.ubuntu.com/ubuntu/
Suites: {{ ansible_distribution_release }}-security
Components: main universe restricted multiverse
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
