#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/amnesia/Persistent/.securedrop/securedrop_icon.png
Name[en_US]=SecureDrop Init
Exec=/home/amnesia/Persistent/.securedrop/securedrop_init
Name=SecureDrop Init
Icon=/home/amnesia/Persistent/.securedrop/securedrop_icon.png
