---
- name: ensure secureDrop web application apt packages are installed
  apt:
    pkg: "{{ item }}"
    state: latest
  with_items: app_deps
  tags:
    - apt

- name: copy the app gpg key from the admin host machine to the app server
  copy:
    src: "{{ securedrop_app_gpg_public_key }}"
    dest: "{{ securedrop_data }}/"
  tags:
    - securedrop_config

- name: import app gpg public key
  # multiline format for command module, since this is a long command
  command: >
    su -s /bin/bash -c 'gpg
    --homedir {{ securedrop_data }}/keys
    --import {{ securedrop_data }}/{{ securedrop_app_gpg_public_key }}' {{ securedrop_user }}
  register: gpg_app_key_import
  changed_when: "'unchanged: 1' not in gpg_app_key_import.stderr"
  tags:
    - gpg
    - securedrop_config

  # The securedrop-app-code apt package contains only 'config.py.example',
  # not 'config.py'. This was done so the securedrop-app-code
  # package would not overwrite the config.py on upgrades.
  # If 'config.py' exists, then the SecureDrop application
  # has already been configured, and most of the following tasks will be skipped.
- stat:
    path: "{{ securedrop_code }}/config.py"
  register: config
  tags:
    - securedrop_config

- name: if config.py does not exist copy example from the securedrop code root
  command: cp {{ securedrop_code }}/config.py.example {{ securedrop_code }}/config.py
  when: not config.stat.exists
  tags:
    - securedrop_config

- name: ensure config.py is owned by www-data
  file:
    dest: "{{ securedrop_code }}/config.py"
    owner: "{{ securedrop_user }}"
    group: "{{ securedrop_user }}"
    mode: 0600
  tags:
    - permissions
    - securedrop_config

# TODO: config.py.example is already written using Jinja2 format, and should be
# easy to template-ize. However, we cannot do this because when Ansible writes
# a template, it re-does the entire thing. This would cause a problem in the
# case where we want to re-provision a machine with an updated value (e.g. the
# application key fingerprint). Blindly overwriting the entire file would cause
# major problems. It would be nice to use templates here, assuming we find a
# way to selectively update the file.

# Note: we can also use register with with_items to cut down on repetition
# here. See
# http://docs.ansible.com/playbooks_loops.html#using-register-with-a-loop

- name: generating 32 byte value for "source secret key"
  shell: "head -c 32 /dev/urandom | base64"
  register: source_secret_key
  when: not config.stat.exists
  tags:
    - securedrop_config

- name: if source secret key is blank insert 32 byte random value
  lineinfile:
    dest: "{{ securedrop_code }}/config.py"
    regexp: "source_secret_key"
    line: "    SECRET_KEY = '{{ source_secret_key.stdout}}'"
  when: not config.stat.exists
  tags:
    - securedrop_config

- name: generating 32 byte value for "journalist secret key"
  shell: "head -c 32 /dev/urandom | base64"
  register: journalist_secret_key
  when: not config.stat.exists
  tags:
    - securedrop_config

- name: if journalist secret key is blank insert 32 byte random value
  lineinfile:
    dest: "{{ securedrop_code }}/config.py"
    regexp: "journalist_secret_key"
    line: "    SECRET_KEY = '{{ journalist_secret_key.stdout }}'"
  when: not config.stat.exists
  tags:
    - securedrop_config

- name: generating 32 byte value for "scrypt id pepper"
  shell: "head -c 32 /dev/urandom | base64"
  register: scrypt_id_pepper
  when: not config.stat.exists
  tags:
    - securedrop_config

- name: if scrypt id pepper is blank insert 32 byte random value
  lineinfile:
    dest: "{{ securedrop_code }}/config.py"
    regexp: "scrypt_id_pepper"
    line: "SCRYPT_ID_PEPPER = '{{ scrypt_id_pepper.stdout }}'"
  when: not config.stat.exists
  tags:
    - securedrop_config

- name: generating 32 byte value for "scrypt gpg pepper"
  shell: "head -c 32 /dev/urandom | base64"
  register: scrypt_gpg_pepper
  when: not config.stat.exists
  tags:
    - securedrop_config

- name: if scrypt gpg pepper is blank insert 32 byte random value
  lineinfile:
    dest: "{{ securedrop_code }}/config.py"
    regexp: "scrypt_gpg_pepper"
    line: "SCRYPT_GPG_PEPPER = '{{ scrypt_gpg_pepper.stdout }}'"
  when: not config.stat.exists
  tags:
    - securedrop_config

- name: verify application gpg fingerprint is defined in config.py
  lineinfile:
    dest: "{{ securedrop_code }}/config.py"
    regexp: "^JOURNALIST_KEY = "
    line: "JOURNALIST_KEY = '{{ securedrop_app_gpg_fingerprint }}'"
  tags:
    - gpg
    - securedrop_config

- stat:
    path: "{{ securedrop_data }}/db.sqlite"
  register: db
  tags:
    - database
    - securedrop_config

- name: initialize sqlite db
  shell: "su -s /bin/bash -c \"PYTHONPATH={{ securedrop_code }} python -c 'import db; db.init_db()'\" {{ securedrop_user }}"
  when: not db.stat.exists
  tags:
    - database
    - securedrop_config

  # If a custom header image is specified in site-specific vars,
  # overwrite the default SecureDrop logo file. During upgrades
  # to securedrop-app-code, dpkg will not overwrite the custom logo.
  # The apache2 apparmor profile that ships with securedrop-app-code
  # allows reading this specific filepath, so the custom logo must reside here.
- name: if configured move the custom header image into the image folder as logo.png
  copy:
    src: "{{ securedrop_header_image }}"
    dest: "{{ securedrop_code }}/static/i/logo.png"
    owner: "{{ securedrop_user }}"
    group: "{{ securedrop_user }}"
    mode: 400
    backup: yes
  when: securedrop_header_image != ""
  tags:
    - logo
    - securedrop_config

