---
  # Repo and tor are installed in common role
- include: create_app_dirs.yml

- include: app_install_fpf_deb_pkgs.yml
  when: "'development' not in group_names"
  tags: non-development

- include: initialize_securedrop_app.yml

- include: install_and_harden_apache.yml
  when: "'development' not in group_names"
  tags: non-development

- include: configure_securedrop_worker.yml

- include: setup_cron.yml

- include: configure_haveged.yml
