Source: securedrop-app-code
Section: unknown
Priority: optional
Maintainer: Kushal Das <kushal@freedom.press>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools, dh-virtualenv
Standards-Version: 3.9.8
Homepage: https://github.com/freedomofpress/yourpackage
X-Python3-Version: >= 3.5

Package: securedrop-app-code
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends} apache2, paxctld
Description: This is securedrop server

