Jinja2>=3.0.0
ansible-lint>=4.2.0
ansible>=2.9.23,<2.10.0
argon2_cffi>=20.1.0
black
cffi>=1.14.2
cryptography>=41.0.3
diffoscope
docker
# Needed for dig ansible lookup
dnspython
html-linter
importlib-resources
markupsafe>=2.0
molecule>=3.0.1
molecule-vagrant>=0.3
# Needed for ansible network filter
# http://docs.ansible.com/ansible/latest/playbooks_filters_ipaddr.html
netaddr
# Now also pin pip due to https://github.com/jazzband/pip-tools/issues/853
pip>=21.3
pip-tools>=6.1.0
polib
psutil>=5.6.6
pylint>=2.7.0
# pyenchant is via pylint[spelling]
pyenchant>=3.2.1
pynacl>=1.4.0
pytest>=7.2.0
pytest-xdist>=3.0.2
python-vagrant
pyyaml>=5.4.1
requests>=2.31.0
ruamel.yaml>=0.16.10
ruff
safety>2.2.0
semgrep>=0.98.0
setuptools>=56.0.0
shellcheck-py
testinfra>=5.3.1
translate-toolkit
urllib3>=1.26.5
yamllint
