Jinja2>=3.0.0
ansible-lint>=4.2.0
ansible>=2.9.23,<2.10.0
argon2_cffi>=20.1.0
bandit
# yes, we need both boto and boto3
boto
boto3
cffi>=1.14.2
docker
# Needed for dig ansible lookup
dnspython
flake8
html-linter
importlib-resources
markupsafe>=2.0
molecule>=3.0.1
molecule-vagrant>=0.3
mypy>=0.761
# Needed for ansible network filter
# http://docs.ansible.com/ansible/latest/playbooks_filters_ipaddr.html
netaddr
# Now also pin pip due to https://github.com/jazzband/pip-tools/issues/853
pip>=21.3
pip-tools>=6.1.0
psutil>=5.6.6
pyenchant>=3.2.1
pylint>=2.7.0
pynacl>=1.4.0
py>=1.10.0
pytest>=6.1.1
pytest-xdist>=2.1.0
python-vagrant
pyyaml>=5.4.1
requests>=2.26.0
ruamel.yaml>=0.16.10
safety>=1.8.7
setuptools>=56.0.0
testinfra>=5.3.1
urllib3>=1.26.5
yamllint
sqlalchemy-stubs==0.3
