bandit
# yes, we need both boto and boto3
boto
boto3
docker-py
# Needed for dig ansible lookup
dnspython
flake8
html-linter
molecule>=2.20.1
mypy
# Needed for ansible network filter
# http://docs.ansible.com/ansible/latest/playbooks_filters_ipaddr.html
netaddr
pip-tools>=4.0.0
pyenchant
pylint
pytest-xdist
python-vagrant
safety>=1.8.4
sphinx
sphinx-autobuild
sphinx_rtd_theme
testinfra
urllib3>=1.25.3
yamllint
