alembic
argon2_cffi
cryptography>2.3
Flask-Assets
Flask-Babel
Flask-SQLAlchemy
Flask-WTF
Flask>0.12.2
Jinja2>=2.10.1
jsmin
mod_wsgi
passlib
pretty-bad-protocol>=3.1.1
psutil
pyotp
qrcode
redis>=3.3.6
rq>=1.1.0
scrypt
sh
SQLAlchemy>=1.3.0
typing
Werkzeug>=0.15.3
