alembic
argon2_cffi>=20.1.0
cffi>=1.14.2

# The next release of cryptography after 3.2.1 will remove support for
# OpenSSL 1.0.2, which is what we have on Xenial. If we're not on
# Focal the next time the following requirement needs to be updated,
# we will have to consider bundling a binary wheel of cryptography in
# the securedrop-app-code package, so it includes a supported version
# of OpenSSL.
cryptography>=3.2

Flask-Assets
Flask-Babel
Flask-SQLAlchemy
Flask-WTF
Flask>0.12.2
Jinja2>=2.11.3
jsmin
markupsafe>=1.1
mod_wsgi
passlib
pretty-bad-protocol>=3.1.1
psutil>=5.6.6
pyotp
qrcode
redis>=3.3.6
rq>=1.1.0
scrypt
setuptools>=56.0.0
sh
SQLAlchemy>=1.3.0
typing;python_version<"3.8"
Werkzeug>=0.15.3
