beautifulsoup4
blinker
Flask-Testing
flaky
mock
pillow
pip-tools>=4.0.0
py
pytest
pytest-cov
pytest-mock
hypothesis
requests[socks]>2.21.0
selenium>=3.141.0
tbselenium>=0.4.2
pyvirtualdisplay
urllib3>=1.25.3
