beautifulsoup4
blinker
coverage>=5.0  # #6091
flaky
html5validator
mock
pathlib2
pillow>=9.0.1  # for CVE-2022-{22817,24303}
pip-tools>=6.1.0
py>=1.10.0
pytest>=6.1.1
pytest-xdist>=2.1.0
pluggy>=0.13.1
pytest-cov
pytest-mock
hypothesis
requests[socks]>=2.26.0
setuptools>=56.0.0
selenium>=3.141.0
tbselenium>=0.5.2
pyvirtualdisplay
urllib3>=1.26.5
