{% extends "base.html" %}
{% block body %}
<div id="content" class="journalist-view-single">
<h2><span class="headline">Read documents</span></h2>
<p><a href="/">Back to latest submissions...</a></p>	
<h3>Collection from: <span class="code-name">{{ codename }}</span></h3>
<p><br />Here are the documents available. The documents are stored encrypted for security. To read them, you will need to decrypt them using PGP.</p>

<form action="/delete" method="post">
<ul id="submissions">
{% for doc in docs %}
<li id="doc-num-{{ loop.index }}">
  <input type="checkbox" name="doc_names_selected" value="{{ doc.name }}" />
  {% if doc.name.startswith('reply-') %}
  <i>{{ doc.name }}</i> (sent {{ doc.date }})
  {% else %}
  <a href="/col/{{ sid }}/{{ doc.name }}">{{ doc.name }}</a> (uploaded {{ doc.date }})
  {% endif %}
</li>
{% endfor %}
<input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
<input type="hidden" name="sid" value="{{ sid }}" autocomplete="off"/>
<p><input type="submit" value="Delete selected" /> (<span id="select_all">select all</span>, <span id="select_none">select none</span>)</p>
</ul>
</form>


{% if haskey %}
<p>You can write a secure reply to the person who submitted these documents:</p>
<form action="/reply" method="post" autocomplete="off">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <input type="hidden" name="sid" value="{{ sid }}" autocomplete="off"/>
  <textarea name="msg" cols="72" rows="10" autocomplete="off"></textarea><br />
  <button id="reply-button" class="button-custom" type="submit">Submit</button>
</form>
{% endif %}
</div>

<script src='/static/js/jquery-2.0.3.min.js'></script>
<script>
$(function () {
  var all = $("#select_all");
  var none = $("#select_none");
  var checkboxes = $(":checkbox");

  all.css('cursor', 'pointer');
  none.css('cursor', 'pointer');

  all.click( function() { checkboxes.prop('checked', true); });
  none.click( function() { checkboxes.prop('checked', false); });
});
</script>
{% endblock %}
