* {
  padding:0;
  margin:0;
}

body {
  background:#fff;
  color:#000;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size:13px;
  line-height:20px; 
}

a {
  color:#007dac;
  text-decoration:none;
}

.button{
  color:#ffffff;
  background:#007dac;
  border:none;
  font-family: Helvetica, Arial, Verdana, sans-serif;  
  text-transform:uppercase;
  height:30px;
  font-weight:600;
  padding:5px 10px;
  font-size:16px;
  margin:0 5px 0 0;
}
a.button:hover {
  cursor: pointer;
  color:#ffffff;
  background-color: black;
}

a:hover {
  color:#00a2de;
  cursor: pointer;
}


p {
  padding-bottom:20px;
}

h2{
  font-size:26px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom:20px;
}


.code-name {
  color:#00a2de;
  font-size:16px;
  font-weight:bold;
}


.submit-2 .code-name {font-size:20px;}

#wrapper{
  margin: 20px auto 20px auto;
  max-width: 600px;
}

#wrapper #header {
  text-align: center;
  margin-bottom: 20px;
}

#content {
}

.updated{
}


#footer{
  text-align: center;
  font-size: 12px;
  color: #333;
  margin-top: 50px;
  padding-bottom: 20px;
}

form{
  padding-bottom:20px;
}


#browse-select{
  padding-bottom:20px;
}

form textarea{
  width: 100%;
  color: #333;
  border: 1px solid #666666;
  padding: 10px;
  font-family: Helvetica, Arial, Verdana, sans-serif;  
  font-weight:400;
  font-size:12px;
  margin-bottom:20px;
}

form input#filename{
  color:#666;
  border:none;
  font-family: Helvetica, Arial, Verdana, sans-serif;  
  font-weight:400;
  font-size:12px;
  height:30px;
  margin:0 5px 0 0;
  padding:0 10px;
}



ul {
  padding:0 0 20px 0;
}

ul li {
  list-style:none;
  padding-bottom:10px;
}

.journalist-view-all ul {
  width:600px;
  color:#888;
}

#replies{
  padding: 0 0 30px 0;
}

.reply {
  border-top:1px solid #333;
  border-bottom:1px solid #333;
  padding:10px; 
  font-size:12px; 
  background:#333 ; 
}

.reply .date {
  font-size:10px;
  display:block;
  border-bottom:1px solid #666;
  padding-bottom:5px;
  margin-bottom:5px;
}


.reply .message {
  display:block;
  padding-bottom:20px;
}



.reply .delete {
  text-transform:uppercase;
}

#regenerate-box{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

form#regenerate-form{
  padding-bottom: 0px;
  padding-top: 10px;
}

span.regenerate-warning{
  color: #E00;
}

div.regenerate-warning{
  font-size: 90%;
  margin-top: 10px;
}

#source-left {
  width: 290px;
  float: left;
  padding: 0 10px 0 0;
}

#source-right {
  width: 290px;
  float: left;
  padding: 0 0 0 10px;
}

.clear {
  clear: both;
}
