#wired-header{
  margin: 0px auto 30px;
  width: 600px;
  z-index:1000;
}

#wired-logo{
  margin-bottom:30px;
}



h2{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size:26px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom:20px;
}



.submit-1 h2 { 
  display:block;
  background: url("/static/i/tipbox/tipbox-hed-submit1.png") no-repeat;
  height:70px;
  width:400px;
}


.user-view h3 { 
  display:block;
  background: url("/static/i/tipbox/tipbox-hed-submit3.png") no-repeat;
  height:70px;
  width:400px;
}

.journalist-view-all h2 { 
  display:block;
  background: url("/static/i/tipbox/tipbox-hed-j-all.png") no-repeat;
  height:35px;
  width:400px;
}

.journalist-view-single h2 { 
  display:block;
  background: url("/static/i/tipbox/tipbox-hed-j-single.png") no-repeat;
  height:35px;
  width:400px;
}


.user-view h2 { 
  display:block;
  background: url("/static/i/tipbox/tipbox-hed-user.png") no-repeat;
  height:35px;
  width:400px;
}


.submit-1 h2 .headline,
.submit-2 h2 .headline,
.user-view h3 .headline,
.journalist-view-all h2 .headline,
.journalist-view-single h2 .headline,
.user-view h2 .headline
{
  display:none;
}



form .button-custom{
  color:#ffffff;
  background:#00aeef;
  border:none;
  text-transform:uppercase;
  height:30px;
  font-family: Helvetica, Arial, Verdana, sans-serif;  
  font-weight:600;
  padding:0 10px;
  font-size:16px;
  margin:0 5px 0 0;
}


