[Unit]
Description=Run submissions-today 1h before daily reboot

[Timer]
# We want to run this 1 hour before reboot, or 23h after the last reboot
OnBootSec=23h

[Install]
WantedBy=timers.target
