[Unit]
Description=job to check for disconnected replies in the database

[Service]
Type=exec
ExecStart=/bin/bash -c "/var/www/securedrop/manage.py check-disconnected-db-replies > /var/lib/securedrop/disconnected_db_replies.txt"
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=/var/lib/securedrop
User=www-data
WorkingDirectory=/var/www/securedrop
