=cols
  #collections
    padding: 0
    width: 100%

    // Adapted from <https://stackoverflow.com/a/10762599>.
    tbody.starred:after
      content: ""
      display: block
      height: 1.33em

    tr.source
      border-bottom: 1px solid #ddd
      text-align: left

      td, th
        padding: 6px

      &.unread
        background: white

      &.read
        background: $color_grey_xlight

      &:dir(rtl)
        text-align: right

      &:first-child
        border-top: 1px solid #ddd

      .date
        color: #7d7d7d
        font-size: 10px
        font-weight: bold
        text-align: right

      .designation
        min-width: 35%
        white-space: nowrap

        a
          color: #333
          display: inline-block
          font-weight: bold
          margin: 5px

      .code-name
        text-decoration: none
        border: 0

        &.read
          font-weight: normal
          color: $color_grimace_blue
        &.unread
          font-weight: bold
          color: $color_button_blue

        &:hover
          color: $color_securedrop_blue

      .submission-count
        font-size: 0.9em
        color: #3d3d3d

        background:
          position: left center
          repeat: no-repeat

        &.files
          background-image: url(/static/icons/files.png)
          background-size: 14px 16px
          padding-left: 14px + 5px

        &.messages
          background-image: url(/static/icons/messages.png)
          background-size: 16px 14px
          padding-left: 16px + 5px

      input
        vertical-align: middle