.modal-dialog
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0, 0, 0, 0.2)
  z-index: 99999
  opacity: 0
  -moz-transition: opacity 100ms ease-in
  transition: opacity 100ms ease-in
  pointer-events: none

  &:target
    opacity: 1
    pointer-events: auto

  .external
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%

  div
    left: 84px
    width: 500px
    position: relative
    margin: 200px auto
    padding: 5px 20px 13px 20px
    background: white
    -moz-box-shadow: 1px 1px 3px #000
    box-shadow: 1px 1px 3px #000

  .close
    background: $color_button_blue
    color: white
    line-height: 24px
    position: absolute
    right: 6px
    text-align: center
    top: 6px
    width: 24px
    text-decoration: none
    font-weight: bold
    -moz-border-radius: 12px
    border-radius: 12px
