=flash
  .flash
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    border-radius: 10px
    margin: 10px
    padding: 10px
    text-align: left
    font-size: medium

    &:dir(rtl)
      text-align: right

    i
      font-size: 18pt

    &.success
      border: 1px solid #E1F1E5
      background-color: #E6FFEB

      strong
        color: #299549

    &.notification
      border: 1px solid #8ed9f6
      background-color: #e3f7fc
      font-size: medium
      font-weight: normal

      i
        color: #4f7685

    &.error
      border: 1px solid $color_error_border
      background-color: $color_error_background

      i
        color: #D62727

    &.important-header
      margin: auto 6px
      color: $color_urgent_coral

    &.important
      border-top: 1px solid #ece6e7
      border-left: 6px solid $color_urgent_coral
      border-bottom: 1px solid $color_urgent_coral
      border-right: 1px solid #ece6e7
      border-radius: 2px
      margin-bottom: 30px
      padding-left: 20px
      padding-right: 8px
      background-color: #FDFDFD
      color: #383838
      align-items: center

      &:dir(rtl)
        padding-left: 8px
        padding-right: 20px
        text-align: right
        border-top: 1px solid #ece6e7
        border-left: 1px solid #ece6e7
        border-bottom: 1px solid $color_urgent_coral
        border-right: 6px solid $color_urgent_coral

      p
        color: #555555
