=hr-horizontal-rule-line
  hr

    &.no-line
      clear: both
      border: none
      height: 10px

    &.header-separator-high
      clear: both
      border: none
      height: 30px

  section.cut-out
    border-top: dotted 1px #c3c3c3