.menu
  display: flex
  margin: 0 auto
  position: relative
  width: auto
  min-height: 54px //Because the menu trigger is position absolute
  margin-top: 2*$spacing-unit
  text-align: start
  justify-content: center

.menu__trigger
  display: flex
  align-items: center
  padding: 2*$spacing-unit
  border: 1px solid $color_grey_light
  background-color: white
  &:hover, &:focus, &:active
    background-color: $color_grey_xlight

.menu__trigger-text
  display: inline-block
  text-transform: capitalize

.menu__items
  display: none
  position: absolute
  margin-top: 0
  padding: 0
  background-color: white
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)
  list-style-type: none

.menu__item a
  display: flex
  align-items: center
  width: 100%
  padding: 2*$spacing-unit
  border-bottom: 1px solid $color_grey_light
  text-decoration: none
  &:hover, &:focus, &:active
    background-color: $color_grey_xlight

.menu__item a span
  text-transform: capitalize

.menu__item:last-of-type a
  border-bottom: 0

.menu__checkbox:checked ~ .menu__items
  display: flex
  flex-direction: column

.menu__checkbox:checked ~ .menu__trigger
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: transparent
  & .menu__trigger-text, & .menu__trigger-arrow
    display: none

.menu__checkbox:focus  ~ .menu__trigger
  background-color: $color_grey_xlight

.menu__checkbox:checked:focus ~ .menu__trigger
  background-color: transparent
