Source: securedrop-admin
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@freedom.press>
Build-Depends: debhelper (>= 11), dh-python, python3-all, python3-setuptools
Homepage: https://securedrop.org
Standards-Version: 4.5.1

Package: securedrop-admin
Architecture: amd64
Depends: ${shlibs:Depends}, python3, sq, netcat-openbsd, tor, rsync, keepassxc-minimal
Description: SecureDrop server administration utility

Package: securedrop-admin-qubes
Architecture: amd64
Depends:
 qubes-vm-recommended,
 xfce4-terminal,
 securedrop-admin, torbrowser-launcher, firefox-esr
Description: Metapackage for using SecureDrop admin tools on Qubes
