#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

DEB_DH_INSTALL_ARGS=-X .git
PIP_BOOTSTRAP_ARGS=--verbose --no-deps --no-cache-dir --no-compile --only-binary=:all:
PIP_ARGS=--verbose --no-deps --no-cache-dir --no-compile --only-binary=:all: --require-hashes

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_install:
# Set up virtualenv and install dependencies
	/usr/bin/python3 -m venv ./debian/securedrop-admin/usr/share/securedrop-admin/venv
	./debian/securedrop-admin/usr/share/securedrop-admin/venv/bin/pip install \
		$(PIP_BOOTSTRAP_ARGS)  pip==26.1

	./debian/securedrop-admin/usr/share/securedrop-admin/venv/bin/pip install $(PIP_ARGS) \
		-r ./requirements.txt
	./debian/securedrop-admin/usr/share/securedrop-admin/venv/bin/pip install --no-compile /srv/securedrop-admin
	find ./debian/securedrop-admin/ -type f -exec sed -i "s#$(shell pwd)/debian/securedrop-admin##" {} \;
	dh_auto_install $@

override_dh_auto_test:
# SKIP - we test the package later

override_dh_strip_nondeterminism:
# Delete non-reproducible things
	find ./debian/ -type f -name '*.pyc' -delete
	find ./debian/ -type f -name 'pip-selfcheck.json' -delete
	find ./debian/ -type f -name 'RECORD' -delete
	dh_strip_nondeterminism $@

# Skip compression when FAST=1 to speed up local builds
ifdef FAST
override_dh_builddeb:
	dh_builddeb -- -Znone
endif
