{% for instance in reg_ec_instance.results %}
Host {{ instance.tagged_instances[0].tags['server_type'] }}
    Hostname {{ instance.tagged_instances[0]['public_dns_name'] }}
    IdentityFile ~/.ssh/{{ job_id }}
    {% if ansible_user_id != "root" %}
    User {{ansible_user_id}}
    {% else %}
    User ubuntu
    {% endif %}
    loglevel ERROR
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
{% endfor %}
