Source: ossec.net
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@freedom.press>
Homepage: https://securedrop.org
Package: securedrop-ossec-server
Version: 3.6.0+{{ securedrop_version }}+{{ securedrop_target_distribution }}
Architecture: amd64
Depends: libevent-2.1-7,libpcre2-8-0,ossec-server,securedrop-keyring,securedrop-config
Replaces: ossec-server
Conflicts: securedrop-ossec-agent
Description: Installs the pre-packaged OSSEC server
  This package installs an OSSEC server pre-configured for the
  SecureDrop mon server. It is configured to email all alerts to
  root@localhost. The SecureDrop ansible playbook will configure
  procmail and postfix to gpg encrypt the OSSEC alerts and email
  them to SecureDrop Admin.
