bandit
# yes, we need both boto and boto3
boto
boto3
docker-py
flake8
html-linter
molecule>=2.*
# Needed for ansible network filte
# http://docs.ansible.com/ansible/latest/playbooks_filters_ipaddr.html
netaddr
pip-tools>=1.10
#
# pyenchant should be included here but is in Dockerfile.linting
# because of https://github.com/freedomofpress/securedrop/issues/2906
#
pylint
pytest-xdist
safety
sphinx
sphinx-autobuild
sphinx_rtd_theme
testinfra
yamllint
