bandit
# yes, we need both boto and boto3
boto
boto3
docker-py
# Needed for dig ansible lookup
dnspython
flake8
html-linter
molecule>2.13
# Needed for ansible network filter
# http://docs.ansible.com/ansible/latest/playbooks_filters_ipaddr.html
netaddr
pip-tools>=3.5.0,<4
pyenchant
pylint
pytest-xdist
python-vagrant
safety>=1.8.4
sphinx
sphinx-autobuild
sphinx_rtd_theme
testinfra
# Needed for requests. Minimum version due to CVE-2018-20060
urllib3>=1.23
yamllint
