Jinja2>=3.1.6
ansible-lint>=4.2.0
ansible==6.7.0
ansible-compat<3.0.0
argon2_cffi>=20.1.0
cffi>=2.0.0
cryptography>=46.0.5  # >= for CVE-2026-26007
diffoscope
docker
# Needed for dig ansible lookup
dnspython
html-linter
importlib-resources
markupsafe>=2.1.2
molecule>=3.0.1,<4
molecule-vagrant>=1,<2
# Needed for ansible network filter
# http://docs.ansible.com/ansible/latest/playbooks_filters_ipaddr.html
netaddr
polib
prompt_toolkit==2.0.9
psutil>=7.0.0
pylint>=3
# pyenchant is via pylint[spelling]
pyenchant>=3.2.1
pynacl>=1.4.0
pytest>=7.2.0
pytest-xdist>=3.0.2
python-vagrant
pyyaml>=6.0.1
requests>=2.31.0
ruamel.yaml>=0.16.10
ruamel.yaml.clib>=0.2.7  # #7545
ruff>=0.8
semgrep>=1.142.1
shellcheck-py
six>=1.16.0
pytest-testinfra>=5.3.1
translate-toolkit
uv>=0.9.6  # Safety 80896
yamllint
zizmor
