alembic
argon2_cffi
cryptography==2.0.3
cssmin
Flask-Assets
Flask-Babel
Flask-SQLAlchemy
Flask-WTF
Flask>0.12.2
pretty-bad-protocol>=3.1.1
Jinja2
jsmin
passlib
psutil
pyotp
qrcode
redis
rq
scrypt
sh
SQLAlchemy
typing
Werkzeug
