{% set docs = source.documents_messages_count()['documents'] %}
{% set msgs = source.documents_messages_count()['messages'] %}
<li class="source" data-source-designation="{{ source.journalist_designation|lower }}">
  <time class="date" title="{{ source.last_updated|datetimeformat }}" datetime="{{ source.last_updated|datetimeformat(fmt="%Y-%m-%d %H:%M:%S%Z") }}">{{ source.last_updated|datetimeformat(relative=True) }}</time>
  <div class="designation">
    {% if source.star.starred %}
      <button class="button-star starred" type="submit" formaction="/col/remove_star/{{ source.filesystem_id }}"><i class="fa fa-star"></i></button>
      <input id="checkbox" type="checkbox" name="cols_selected" value="{{ source.filesystem_id }}" />
      <span class="code-name"><a href="/col/{{ source.filesystem_id }}" id="starred-source-link-{{ loop_index }}">{{ source.journalist_designation }}</a></span>
    {% else %}
      <button class="button-star un-starred" type="submit" formaction="/col/add_star/{{ source.filesystem_id }}"><i class="fa fa-star"></i></button>
      <input id="checkbox" type="checkbox" name="cols_selected" value="{{ source.filesystem_id }}" />
      <span class="code-name"><a href="/col/{{ source.filesystem_id }}" id="un-starred-source-link-{{ loop_index }}">{{ source.journalist_designation }}</a></span>
    {% endif %}
  </div>
  <div class="submission-count">
    <span><i class="fa fa-file-archive-o"></i> {{ docs }} docs</span>
    <span><i class="fa fa-file-text-o"></i> {{ msgs }} messages</span>
    {% if source.num_unread > 0 %}
      <span class="unread">
        <a class="btn small" href='/download_unread/{{ source.filesystem_id }}' ><i class="fa fa-download"></i> {{ source.num_unread }} unread</a>
      </span>
    {% endif %}
  </div>
  <div id="{{ source.filesystem_id }}-assignment" class="assignment">
    <div class="assign-current">
      <p>Assigned:</p>
      {% if source.journalist %}
        <p>{{ source.journalist.username }}</p>
      {% else %}
        <p>nobody</p>
      {% endif %}
      <a href="#{{ source.filesystem_id }}-reassign">Reassign</a>
    </div>
    <div id="{{ source.filesystem_id }}-reassign" class="assign-select">
      <p>Assign new journalist:</p>
      <select name="journalist">
        <option value="none">nobody</option>
        {% for journalist in journalists %}
        <option value="{{ journalist.username }}">{{ journalist.username }}</option>
        {% endfor %}
      </select>
      <button formaction="/change-assignment/{{ source.filesystem_id }}">Apply</button>
      <a class="btn" href="#{{ source.filesystem_id }}-assignment">Cancel</a>
    </div>
  </div>
</li>
