{% extends "base.html" %}
{% block body %}
<h1>{{ gettext('Change Secret') }}</h1>
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div>
    <label for="otp_secret">{{ gettext('Change Secret') }}</label>
    <input id="otp_secret" name="otp_secret" type="text" placeholder="{{ gettext('HOTP Secret') }}">
  </div>
  <div class="section-spacing">
    <button type="submit" aria-label="{{ gettext('Continue to change secret') }}">{{ gettext('CONTINUE') }}</button>
  </div>
</form>
{% endblock %}
