{% extends "base.html" %}
{% block body %}
<h1>{{ gettext('Admin Interface') }}</h1>

<form action="{{ url_for('admin.add_user') }}">
  <button type="submit" id="add-user"><i class="fa fa-plus"></i>{{ gettext('ADD USER') }}</button>
</form>

<hr class="no-line">

{% if users %}
<form id="user-actions" method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <table id="users">
    <tr>
      <th>{{ gettext('Username') }}</th>
      <th>{{ gettext('Edit') }}</th>
      <th>{{ gettext('Delete') }}</th>
      <th>{{ gettext('Created') }}</th>
      <th>{{ gettext('Last login') }}</th>
    </tr>
    {% for user in users %}
      <tr class="user">
        <td>{{ user.username }}</td>
        <td><a href="/admin/edit/{{ user.id }}" class="plain edit-user-button" data-username="{{ user.username }}"><i class="fa fa-edit" title="{{ gettext('Edit user {username}').format(username=user.username) }}"></i></a></td>
	{% if user.id == g.user.id %}
        <td><i class="far fa-trash-alt disabled-delete-button"></i></td>
	{% else %}
        <td><button type="submit" class="plain delete-user" formaction="/admin/delete/{{ user.id }}" data-username="{{ user.username}}"><i class="far fa-trash-alt" title="{{ gettext('Delete user {username}').format(username=user.username) }}"></i></button></td>
	{% endif %}
        <td><time class="date" title="{{ user.created_on }}">{{ user.created_on|rel_datetime_format(relative=True) }}</time></td>
        {% if user.last_access %}
          <td><time class="date" title="{{ user.last_access }}">{{ user.last_access|rel_datetime_format(relative=True) }}</time></td>
        {% else %}
          <td><time class="date">{{ gettext('never') }}</time></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</form>
{% else %}
<p>{{ gettext('No users to display') }}</p>
{% endif %}

<hr class="no-line">

<a href="{{ url_for('admin.manage_config') }}" class="btn" id="update-instance-config">
  <i class="fas fa-pencil-alt"></i> {{ gettext('INSTANCE CONFIG') }}
</a>

<hr class="no-line">

{% endblock %}
