{% extends "base.html" %}
{% block body %}
{% if user.is_totp %}
<h1>{{_("Enable Google Authenticator")}}</h1>
<p>{{_("You're almost done! To finish adding this new user, have them follow the instructions below to set up two factor authentication with Google Authenticator. Once they've added an entry for this account in the app, have them enter one of the 6-digit codes from the app to confirm that two factor authentication is set up correctly.")}}</p>
<ol>
  <li>{{_("Install Google Authenticator on your phone")}}</li>
  <li>{{_("Open the Google Authenticator app")}}</li>
  <li>{{_("Tap menu, then tap \"Set up account\", then tap \"Scan a barcode\"")}}</li>
  <li>{{_("Your phone will now be in \"scanning\" mode. When you are in this mode, scan the barcode below:")}}</li>
</ol>
<div id="qrcode_container">{{ user.shared_secret_qrcode|safe }}</div>
<p>{{_("Can't scan the barcode? Enter the following code manually:")}} <span id="shared_secret">{{ user.formatted_otp_secret }}</span></p>
<p>{{_("Once you have scanned the barcode, enter the 6-digit code below:")}}</p>
{% else %}
<h1>{{_("Enable Yubikey (OATH-HOTP)")}}</h1>
<p>{{_("Once you have configured your Yubikey, enter the 6-digit code below:")}}</p>
{% endif %}
<form id="check_token" method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <label for="token">{{_("Verification code")}}</label>
  <input name="token" id="token" type="text" placeholder="123456" />
  <button type="submit">{{_("Submit")}}</button>
</form>
{% endblock %}
