{% extends "base.html" %}
{% block body %}
<p>
  <a href="/admin">« {{ gettext('Back to admin interface') }}</a>
</p>

<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <p><input name="username" type="text" placeholder="{{ gettext('Username') }}"></p>
  <p><input name="password" type="password" placeholder="{{ gettext('Password') }}"></p>
  <p><input name="password_again" type="password" placeholder="{{ gettext('Password (again)') }}"></p>
  <p>
    <input name="is_admin" id="is-admin" type="checkbox">
    <label for="is_admin">{{ gettext('Is Administrator') }}</label>
  </p>
  <p>
    <input name="is_hotp" id="is-hotp" type="checkbox">
    <label for="is_hotp">{{ gettext("I'm using a Yubikey") }} </label>
    <input name="otp_secret" type="text" placeholder="{{ gettext('HOTP Secret') }}" size="60"><br>
  </p>
  <button type="submit" class="sd-button"><i class="fa fa-plus"></i>{{ gettext('ADD USER') }}</button>
</form>
{% endblock %}
