{% extends "base.html" %}
{% block body %}
<h1>{{ gettext('Admin Interface') }}</h1>

<form action="{{ url_for('admin.add_user') }}">
  <button type="submit" id="add-user">
    <img src="{{ url_for('static', filename='icons/plus.png') }}" class="icon" width="13" height="15" alt="">
    {{ gettext('ADD USER') }}
  </button>
</form>

<hr class="no-line">

{% if users %}
<form id="user-actions" method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <table id="users">
    <tr>
      <th>{{ gettext('Username') }}</th>
      <th>{{ gettext('Edit') }}</th>
      <th>{{ gettext('Delete') }}</th>
      <th>{{ gettext('Created') }}</th>
      <th>{{ gettext('Last login') }}</th>
    </tr>
    {% for user in users %}
      <tr class="user">
        <td>{{ user.username }}</td>
        <td>
          <a href="/admin/edit/{{ user.id }}" class="plain" data-username="{{ user.username }}">
            <i title="{{ gettext('Edit user {username}').format(username=user.username) }}">
              <img src="{{ url_for('static', filename='icons/edit-user.png') }}" class="icon" width="18" height="16" alt="{{ gettext('edit user icon') }}">
            </i>
          </a>
        </td>
	{% if user.id == g.user.id %}
        <td>
          <img src="{{ url_for('static', filename='icons/trash-disabled.png') }}" width="14" height="16" alt="{{ gettext('trash icon disabled') }}">
        </td>
	{% else %}
        <td>
          <button type="submit" class="plain delete-user" formaction="/admin/delete/{{ user.id }}" data-username="{{ user.username}}">
            <i title="{{ gettext('Delete user {username}').format(username=user.username) }}">
              <img src="{{ url_for('static', filename='icons/trash.png') }}" class="off-hover" width="14" height="16" alt="{{ gettext('trash icon') }}">
              <img src="{{ url_for('static', filename='icons/trash-hover-red.png') }}" class="on-hover" width="14" height="16" alt="{{ gettext('trash icon') }}">
            </i>
          </button>
        </td>
	{% endif %}
        <td><time class="date" title="{{ user.created_on }}">{{ user.created_on|rel_datetime_format(relative=True) }}</time></td>
        {% if user.last_access %}
          <td><time class="date" title="{{ user.last_access }}">{{ user.last_access|rel_datetime_format(relative=True) }}</time></td>
        {% else %}
          <td><time class="date">{{ gettext('never') }}</time></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</form>
{% else %}
<p>{{ gettext('No users to display') }}</p>
{% endif %}

<hr class="no-line">

<a href="{{ url_for('admin.manage_config') }}" class="btn" id="update-instance-config">
  <img src="{{ url_for('static', filename='icons/pencil-alt.png') }}" class="icon" width="15" height="15" alt="">
  {{ gettext('INSTANCE CONFIG') }}
</a>

<hr class="no-line">

{% endblock %}
