{% extends "base.html" %}
{% block body %}
<h1>{{ gettext('Change HOTP Secret')}}</h1>
<p>{{ gettext("Enter a new HOTP secret formatted as a 40-digit hexadecimal string. Spaces will be ignored:") }}</p>
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="hidden" name="uid" value="{{ uid }}">
  <div>
    <label for="otp_secret">{{ gettext('Change Secret') }}</label>
    <input id="otp_secret" name="otp_secret" type="text" placeholder="{{ gettext('HOTP Secret') }}">
  </div>
  <div class="section-spacing">
    <button type="submit" aria-label="{{ gettext('Continue to change secret') }}">{{ gettext('CONTINUE') }}</button>
  </div>
</form>
{% endblock %}
