{% extends "base.html" %}
{% block body %}
<h2>Edit user "{{ user.username }}"</h2>
<p><a href="/admin">&laquo; Back to admin interface</a></p>

<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <p>
    <label for="username">Change username</label>
    <input name="username" id="username" type="text" placeholder="{{ user.username }}" />
  </p>
  <p>
    <label for="password">Change password</label>
    <input name="password" id="password" type="password" />
    <em class="light">Leave blank for no change</em>
  </p>
  <p>
    <label for="password_again">Change password (confirm)</label>
    <input name="password_again" id="password_again" type="password" />
  </p>
  <p>
    <input name="is_admin" id="is_admin" type="checkbox" {% if user.is_admin %}checked{% endif %} />
    <label for="is_admin">Is Administrator</label>
  </p>
  <button type="submit" id="update-user">Update user</button>
</form>

<hr class="no-line">

<h2>Reset Two Factor Authentication</h2>
<p>If a user's two factor authentication credentials have been lost or compromised, you can reset them here. <em>If you do this, make sure the user is present and ready to set up their device with the new two factor credentials. Otherwise, they will be locked out of their account.</em></p>
<form method="post" action="{{ url_for('admin_reset_two_factor_totp') }}" id="reset-two-factor-totp">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <input name="uid" type="hidden" value="{{ user.id }}"/>
  <button type="submit" class="center"><i class="fa fa-refresh"></i> Reset two factor authentication (Google Authenticator)</button>
</form>
<br />
<form method="post" action="{{ url_for('admin_reset_two_factor_hotp') }}" id="reset-two-factor-hotp">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <input name="uid" type="hidden" value="{{ user.id }}"/>
  <button type="submit" class="center"><i class="fa fa-refresh"></i> Reset two factor authentication (HOTP Yubikey)</button>
</form>
{% endblock %}
