{% extends "base.html" %}

{% block body %}
{% if user.is_totp %}
<h1>{{ gettext('Enable FreeOTP') }}</h1>
<p>{{ gettext("You're almost done! To finish adding this new user, have them follow the instructions below to set up two-factor authentication with FreeOTP. Once they've added an entry for this account in the app, have them enter one of the 6-digit codes from the app to confirm that two-factor authentication is set up correctly.") }}</p>

<ol>
  <li>{{ gettext('Install FreeOTP on your phone') }}</li>
  <li>{{ gettext('Open the FreeOTP app') }}</li>
  <li>{{ gettext('Tap the QR code symbol at the top') }}</li>
  <li>{{ gettext('Your phone will now be in "scanning" mode. When you are in this mode, scan the barcode below:') }}</li>
</ol>
<div id="qrcode-container">{{ user.shared_secret_qrcode }}</div>
<p>{{ gettext("Can't scan the barcode? You can manually pair FreeOTP with this account by entering the following two-factor secret into the app:") }}</p>
<p class="center"><span id="shared-secret">{{ user.formatted_otp_secret }}</span></p>

<p>{{ gettext('Once you have pair FreeOTP with this account, enter the 6-digit code below:') }}</p>
{% else %}
<h1>{{ gettext('Enable YubiKey (OATH-HOTP)') }}</h1>
<p>{{ gettext('Once you have configured your YubiKey, enter the 6-digit code below:') }}</p>
{% endif %}
<form id="check-token" method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <label for="token">{{ gettext('Verification code') }}</label>
  <input name="token" id="token" type="text" placeholder="123456">
  <button type="submit">{{ gettext('SUBMIT') }}</button>
</form>
{% endblock %}
