<!DOCTYPE html>
<html lang="{{ g.html_lang }}" dir="{{ g.text_direction }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SecureDrop</title>

    <link rel="stylesheet" href="/static/css/journalist.css">

    <link rel="icon" type="image/png" href="/static/i/favicon.png">

    {% include 'js-strings.html' %}

    {% assets filters="jsmin", output="gen/journalist.js",
      "js/libs/jquery-2.1.4.min.js", "js/journalist.js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    {% if g.user %}

        {% if g.show_xenial_warning %}
    <div class="xenial-upgrade critical">
        <img class="critical-skull" src="{{ url_for('static', filename='i/font-awesome/skull-crossbones-white.png') }}" 
             width="14px" height="16px">
        {{ gettext ('<strong>Critical Security:</strong> The operating system used by your SecureDrop servers has reached its end-of-life. A manual update is urgently required to remain safe - <a href="//securedrop.org/xenial-upgrade" rel="noreferrer">Learn More</a>') }}
    </div>
        {% endif %}

    <div id="logout">
      {{ gettext('Logged on as') }} <a href="{{ url_for('account.edit') }}" id="link-edit-account">{{ g.user.username }}</a> |
      {% if g.user and g.user.is_admin %}
      <a href="{{ url_for('admin.index') }}" id="link-admin-index">{{ gettext('Admin') }}</a> |
      {% endif %}
      <a href="{{ url_for('main.logout') }}" id="link-logout">{{ gettext('Log Out') }}</a>
    </div>
    <div class="clearfix"></div>
    {% endif %}

    <div class="content">
      <div class="container">
        {% block header %}
        <div id="header">
          <a href="{{ url_for('main.index') }}"><img src="{{ url_for('main.select_logo') }}" class="logo small" alt="SecureDrop" width="250px"></a>
          {% include 'locales.html' %}
          {% if use_custom_header_image %}
          <div class="powered">
            {{ gettext('Powered by <br> <img src="/static/i/securedrop_small.png" alt="SecureDrop">') }}
          </div>
          {% endif %}
        </div>
        {% endblock %}

        <div class="panel selected">
          {% include 'flashed.html' %}

          {% block body %}{% endblock %}
        </div>
      </div>

      {% block footer %}
      <footer>
        {{ gettext("Powered by <em>SecureDrop {version}</em>.").format(version=version)|safe }}
      </footer>
      {% endblock %}
    </div>
  </body>
</html>
