<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SecureDrop</title>

    <link rel="stylesheet" href="/static/css/journalist.css">

    <link rel="icon" type="image/png" href="/static/i/favicon.png">

    {% assets filters="jsmin", output="gen/journalist.js",
      "js/libs/jquery-2.1.4.min.js", "js/journalist.js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    {% if g.user %}
    <div id="logout">
      <a href="{{ url_for('edit_account') }}" id="link-edit-account">{{ gettext('Edit Account') }}</a> |
      {% if g.user and g.user.is_admin %}
      <a href="{{ url_for('admin_index') }}" id="link-admin-index">{{ gettext('Admin') }}</a> |
      {% endif %}
      <a href="{{ url_for('logout') }}" id="link-logout">{{ gettext('Logout') }}</a>
    </div>
    <div class="clearfix"></div>
    {% endif %}

    <div class="content">
      {% block header %}
      <div id="header">
        <a href="{{ url_for('index') }}"><img src="/static/i/{{ header_image }}" class="logo small" alt="SecureDrop" width="250px"></a>
        {% if use_custom_header_image %}
        <div class="powered">
          {{ gettext('Powered by <br> <img src="/static/i/securedrop_small.png" alt="SecureDrop">') }}
        </div>
        {% endif %}
      </div>
      {% endblock %}

      <div class="panel selected">
        {% include 'flashed.html' %}

        {% block body %}{% endblock %}
      </div>

      {% block footer %}
      <footer>
        {{ gettext("Powered by <em>SecureDrop {version}</em>.").format(version=version)|safe }}
      </footer>
      {% endblock %}
    </div>
  </body>
</html>
