<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SecureDrop</title>
    
    {% assets filters="cssmin", output="gen/journalist.css",
      "css/normalize.css", "css/journalist.css", "css/font-awesome.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    <link rel="icon" type="image/png" href="/static/i/favicon.png">

    {% assets filters="jsmin", output="gen/journalist.js",
      "js/libs/jquery-2.1.1.min.js", "js/journalist.js" %}
      <script type="javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block extrahead %}{% endblock %}
  </head>
  <body>

    {% if g.user %}
    <div id="logout">
      <a href="{{ url_for('edit_account') }}">Edit Account</a> | 
      {% if g.user and g.user.is_admin %}
      <a href="{{ url_for('admin_index') }}">Admin</a> | 
      {% endif %}
      <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div class="clearfix"></div>
    {% endif %}

    <div class="content">
      {% block header %}
      <div id="header">
        <a href="{{ url_for('index') }}"><img src="/static/i/{{ header_image }}" class="logo small" alt="SecureDrop"></a>
        {% if use_custom_header_image %}
        <div class="powered">
          Powered by<br/>
          <img src="/static/i/securedrop_small.png" alt="SecureDrop">
        </div>
        {% endif %}
      </div>
      {% endblock %}

      <div class="panel selected">
        {% include 'flashed.html' %}

        {% block body %}{% endblock %}
      </div>

      {% block footer %}
      <footer>
        Powered by <em>SecureDrop {{ version }}</em>.
      </footer>
      {% endblock %}
    </div>
  </body>
</html>
