{% extends "base.html" %}
{% block body %}
<div id="content" class="journalist-view-single">

  <form action="{{ url_for('main.regenerate_code') }}" method="post" id="regenerate-code">
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input type="hidden" name="filesystem_id" value="{{ filesystem_id }}">

    <p class="breadcrumbs">
      <a href="/">{{ gettext('All Sources') }}</a>
      <i class="fa fa-chevron-right"></i>
      <strong>{{ source.journalist_designation }}</strong>
      <a href="#change-codename-{{ source.journalist_designation }}" title="{{ gettext('Generate a new random codename for this source. We recommend doing this if the first random codename is difficult to say or remember. You can generate new random codenames as many times as you like.') }}" class="plain" id="regenerate-codename-btn"><span id="regenerate-codename-btn-label">{{ gettext('Change codename') }}</span></a>
      <div id="change-codename-{{ source.journalist_designation }}" class="confirm-prompt">{{ gettext('Are you sure you want to generate a new codename?') }}
        <a href="#regenerate-code">{{ gettext('Cancel') }}</a>
        <button class="small" type="submit">{{ gettext('CONFIRM') }}</button>
      </div>
    </p>
  </form>

  {% if source.collection %}
    <p>{{ gettext('The documents are stored encrypted for security. To read them, you will need to decrypt them using GPG.') }}</p>
    <form action="/bulk" method="post">
      <p>
        <div id="select-container"></div>
        <button type="submit" name="action" value="download" class="small"><i class="fa fa-download"></i> {{ gettext('Download Selected') }}</button>
        <a href="#delete-selected-confirmation-modal" id="delete-selected-link">
          <button type="button" class="small danger"><i class="far fa-trash-alt"></i> {{ gettext('Delete Selected') }}</button>
        </a>
      </p>

      <ul id="submissions" class="plain submissions">
        {% for doc in source.collection %}
          <li class="submission {% if not doc.downloaded and not doc.filename.endswith('reply.gpg') %}unread{% endif %}">
            {% if doc.filename.endswith('reply.gpg') %}
              {% if not doc.deleted_by_source %}
                <input type="checkbox" name="doc_names_selected" value="{{ doc.filename }}" class="doc-check">
                <span title="{{ gettext('Reply') }}" class="icon"><i class="fa fa-reply pull right"></i></span>
              {% else %}
                <input type="checkbox" name="doc_names_selected" value="{{ doc.filename }}" class="doc-check">
                <span title="{{ gettext('Read') }}" class="icon"><i class="fa fa-check"></i></span>
              {% endif %}
            {% elif not doc.downloaded %}
              <input type="checkbox" name="doc_names_selected" value="{{ doc.filename }}" class="doc-check unread-cb">
              <span title="{{ gettext('Unread') }}" class="icon"><i class="fa fa-envelope"></i></span>
            {% else %}
              <input type="checkbox" name="doc_names_selected" value="{{ doc.filename }}" class="doc-check">
              <span title="{{ gettext('Read') }}" class="icon"><i class="fa fa-envelope-open"></i></span>
            {% endif %}
            <a class="file {% if not doc.downloaded and not doc.filename.endswith('reply.gpg') %}unread{% else %}read{% endif %}" href="{{ url_for('col.download_single_file', filesystem_id=filesystem_id, fn=doc.filename) }}">
              <span class="filename">{{ doc.filename }}</span>
            </a>
            <span class="info"><span title="{{ doc.size }} bytes">{{ doc.size|filesizeformat() }}</span></span>

            {% if doc.filename.endswith('-doc.gz.gpg') %}
              <i title="{{ gettext('Uploaded Document') }}" class="far fa-file-archive pull-right"></i>
            {% elif doc.filename.endswith('-reply.gpg') %}
              <i title="{{ gettext('Reply') }}" class="fa fa-reply pull-right"></i>
            {% else %}
              <i title="{{ gettext('Message') }}" class="far fa-file-alt pull-right"></i>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <!-- Confirmation modal for selected documents -->
      {% with %}
        {% set modal_data = {
                              "modal_id": "delete-selected-confirmation-modal",
                              "modal_header": gettext('Delete Confirmation'),
                              "modal_body": gettext('Are you sure you want to delete the selected documents?'),
                              "cancel_id": "cancel-selected-deletions",
                              "submit_id": "delete-selected",
                              "submit_btn_type": "danger",
                              "submit_btn_text": gettext('DELETE')
                            }
        %}
        {% include '_confirmation_modal.html' %}
      {% endwith %}

      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <input type="hidden" name="filesystem_id" value="{{ filesystem_id }}">

    </form>
  {% else %}
    <p><br>{{ gettext('No documents to display.') }}</p>
  {% endif %}

  <hr class="cut-out">
  <hr class="no-line">
  <h3>{{ gettext('Reply') }}</h3>
  {% if source.has_key %}
    <p>{{ gettext('You can write a secure reply to the person who submitted these documents:') }}</p>
    <form action="{{ url_for('main.reply') }}" method="post" autocomplete="off">
      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <input type="hidden" name="filesystem_id" value="{{ filesystem_id }}">
      {{ form.message(id="reply-text-field", rows='10', class="journalist-reply__input") }}
      <hr class="no-line">
      <button id="reply-button" class="button pull-right" type="submit">{{ gettext('SUBMIT') }}</button>
    </form>
  {% elif source.flagged %}
    <p class="notification">{{ gettext("You've flagged this source for reply.") }}</p>
    <p>{{ gettext("An encryption key will be generated for the source the next time they log in, after which you will be able to reply to the source here.") }}</p>
  {% else %}
    <p>{{ gettext("Click below if you would like to write a reply to this source.") }}</p>
    <form action="{{ url_for('main.flag') }}" method="post">
      <input type="hidden" name="filesystem_id" value="{{ filesystem_id }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button id="flag-button" type="submit">{{ gettext('FLAG THIS SOURCE FOR REPLY') }}</button>
    </form>
  {% endif %}
  <hr class="no-line">
  <hr class="cut-out">
  <p>{{ gettext("Click below to delete this source's collection. <em>Warning: If you do this, the files seen here will be unrecoverable and the source will no longer be able to login using their previous codename.</em>")|safe }}</p>

  <form id="delete-collection" action="{{ url_for('col.delete_single', filesystem_id=filesystem_id) }}" method="post">
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input type="hidden" name="filesystem_id" value="{{ filesystem_id }}">
    <input type="hidden" name="col_name" value="{{ source.journalist_designation }}">
    <div class="center">
      <a href="#delete-collection-confirmation-modal" id="delete-collection-link">
        <button type="button" class="danger"><i class="far fa-trash-alt"></i> {{ gettext('DELETE SOURCE AND SUBMISSIONS') }}</button>
      </a>
    </div>

    <!-- Confirmation modal for entire collection deletion -->
    {% with %}
      {% set modal_data = {
                            "modal_id": "delete-collection-confirmation-modal",
                            "modal_header": gettext('Delete Confirmation'),
                            "modal_body": gettext('Are you sure you want to delete this collection?'),
                            "cancel_id": "cancel-collection-deletions",
                            "submit_id": "delete-collection-button",
                            "submit_btn_type": "danger",
                            "submit_btn_text": gettext('Delete')
                          }
      %}
      {% include '_confirmation_modal.html' %}
    {% endwith %}
  </form>

</div>
{% endblock %}
