{% extends "base.html" %}
{% block body %}
<div id="content" class="journalist-view-single">

  <p class="breadcrumbs">
    <a href="/">{{ gettext('All Sources') }}</a>
    <img src="{{ url_for('static', filename='icons/chevron-right.png') }}" class="icon" width="9" height="14" alt="">
    <strong>{{ source.journalist_designation }}</strong>
  </p>

  {% if source.collection %}
    <p>{{ gettext('All messages, files, and replies from sources are stored as encrypted files for security. To read them, you will need to decrypt them on your Secure Viewing Station.') }}</p>
    <form action="/bulk" method="post">
      <p>
        <div id="select-container"></div>
        <button type="submit" name="action" value="download" class="small">
          <img src="{{ url_for('static', filename='icons/download.png') }}" class="icon" width="11" height="13" alt=""> {{ gettext('Download Selected') }}
        </button>
        <a href="#delete-selected-confirmation-modal" id="delete-selected-link">
          <button type="button" class="small danger">
            {{ gettext('Delete Selected') }}
          </button>
        </a>
      </p>

      <ul id="submissions" class="plain submissions">
        {% for doc in source.collection %}
          <li class="submission {% if not doc.seen and not doc.filename.endswith('reply.gpg') %}unread{% endif %}" aria-labelledby="doc-link-{{ loop.index }} status-icon-{{ loop.index }} type-icon-{{ loop.index }}">
            {% if doc.filename.endswith('reply.gpg') %}
              {% if not doc.deleted_by_source %}
                <input type="checkbox" name="doc_names_selected" value="{{ doc.filename }}" class="doc-check" aria-labelledby="doc-link-{{ loop.index }}">
                <img id="status-icon-{{ loop.index }}" src="{{ url_for('static', filename='icons/reply.png') }}" class="icon" width="16" height="16" alt="{{ gettext('Unread') }}" title="{{ gettext('Unread') }}">
              {% else %}
                <input type="checkbox" name="doc_names_selected" value="{{ doc.filename }}" class="doc-check" aria-labelledby="doc-link-{{ loop.index }}">
                <img id="status-icon-{{ loop.index }}" src="{{ url_for('static', filename='icons/check.png') }}" class="icon" width="16" height="12" alt="{{ gettext('Read') }}" title="{{ gettext('Read') }}">
              {% endif %}
            {% elif not doc.seen %}
              <input type="checkbox" name="doc_names_selected" value="{{ doc.filename }}" class="doc-check unread-cb" aria-labelledby="doc-link-{{ loop.index }}">
              <img id="status-icon-{{ loop.index }}" src="{{ url_for('static', filename='icons/envelope-closed.png') }}" class="icon" width="16" height="15" alt="{{ gettext('Unread') }}" title="{{ gettext('Unread') }}">
            {% else %}
              <input type="checkbox" name="doc_names_selected" value="{{ doc.filename }}" class="doc-check" aria-labelledby="doc-link-{{ loop.index }}">
              <img id="status-icon-{{ loop.index }}" src="{{ url_for('static', filename='icons/envelope-open.png') }}" class="icon" width="16" height="15" alt="{{ gettext('Read') }}" title="{{ gettext('Read') }}">
            {% endif %}
            <a id="doc-link-{{ loop.index }}" class="file {% if not doc.seen and not doc.filename.endswith('reply.gpg') %}unread{% else %}read{% endif %}" href="{{ url_for('col.download_single_file', filesystem_id=filesystem_id, fn=doc.filename) }}">
              <span class="filename">{{ doc.filename }}</span>
            </a>
            <span class="info"><span title="{{ doc.size }} bytes">{{ doc.size|filesizeformat() }}</span></span>

            {% if doc.filename.endswith('-doc.gz.gpg') %}
              <img id="type-icon-{{ loop.index }}" src="{{ url_for('static', filename='icons/files.png') }}" class="pull-right" width="14" height="16" alt="{{ gettext('Uploaded Document') }}" title="{{ gettext('Uploaded Document') }}">
            {% elif doc.filename.endswith('-reply.gpg') %}
              <img id="type-icon-{{ loop.index }}" src="{{ url_for('static', filename='icons/reply.png') }}" class="pull-right" width="16" height="16" alt="{{ gettext('Reply') }}" title="{{ gettext('Reply') }}">
            {% else %}
              <img id="type-icon-{{ loop.index }}" src="{{ url_for('static', filename='icons/messages.png') }}" class="pull-right" width="15" height="13" alt="{{ gettext('Message') }}" title="{{ gettext('Message') }}">
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <!-- Confirmation modal for selected documents -->
      {% with %}
        {% set modal_data = {
                              "modal_id": "delete-selected-confirmation-modal",
                              "modal_header": gettext('Delete Confirmation'),
                              "modal_body": gettext('Are you sure you want to delete the selected submissions?'),
                              "cancel_id": "cancel-selected-deletions",
                              "submit_id": "delete-selected",
                              "submit_btn_type": "danger",
                              "submit_btn_text": gettext('DELETE')
                            }
        %}
        {% include '_confirmation_modal.html' %}
      {% endwith %}

      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <input type="hidden" name="filesystem_id" value="{{ filesystem_id }}">

    </form>
  {% else %}
    <p><br>{{ gettext('No submissions to display.') }}</p>
  {% endif %}

  <hr class="cut-out">
  <hr class="no-line">
  <h3>{{ gettext('Reply') }}</h3>
  {% if source.has_key %}
    <p>{{ gettext('You can write a secure reply to the person who submitted these messages and/or files:') }}</p>
    <form action="{{ url_for('main.reply') }}" method="post" autocomplete="off">
      <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
      <input type="hidden" name="filesystem_id" value="{{ filesystem_id }}">
      {{ form.message(id="reply-text-field", rows='10', class="journalist-reply__input") }}
      <hr class="no-line">
      <button id="reply-button" class="button pull-right" type="submit">{{ gettext('SUBMIT') }}</button>
    </form>
  {% else %}
    <p class="notification">{{ gettext("This source has no encryption key.") }}</p>
    <p>{{ gettext("An encryption key will be generated for the source the next time they log in, after which you will be able to reply to the source here.") }}</p>
  {% endif %}
  <hr class="no-line">
  <form id="delete-collection" action="{{ url_for('col.delete_single', filesystem_id=filesystem_id) }}" method="post">
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input type="hidden" name="filesystem_id" value="{{ filesystem_id }}">
    <input type="hidden" name="col_name" value="{{ source.journalist_designation }}">
    <div class="center highlight">
      <a href="#delete-collection-confirmation-modal" id="delete-collection-link">
        <button type="button" class="danger">
          {{ gettext('Delete Source Account') }}
        </button>
      </a>
    </div>

    <!-- Confirmation modal for entire collection deletion -->
    {% with %}
      {% set modal_data = {
                            "modal_id": "delete-collection-confirmation-modal",
                            "modal_header": gettext('Are you sure?'),
                            "modal_body": gettext('<p>
Deleting the account for <b>{source}</b> will:
<ul>
<li>prevent them from logging in with their codename again
<li>prevent your organization from sending replies
</ul>
</p>
<p>
All files, messages, and replies will also be deleted when their account is deleted.
</p>'.format(source=source.journalist_designation)),
                            "cancel_id": "cancel-collection-deletions",
                            "submit_id": "delete-collection-button",
                            "submit_btn_type": "danger",
                            "submit_btn_text": gettext('Yes, Delete Source Account')
                          }
      %}
      {% include '_confirmation_modal.html' %}
    {% endwith %}
  </form>

</div>
{% endblock %}
