{% extends "base.html" %}
{% block body %}

{% if confirm_delete %}

  {% with count=docs_selected|length %}
  <p class="notification">File{% if count > 1 %}s{% endif %} permanently deleted.</p>
  {% endwith %}

{% else %}

  {% with count=docs_selected|length %}
  <p>The following {% if count == 1 %}file has{% else %}{{ count }} files have{% endif %} been selected for <strong>permanent deletion</strong>:</p>
  {% endwith %}

  <form action="/bulk" method="post">
  <ul class="plain">
  {% for doc in docs_selected %}
  <li>
    {{ doc.name }}
    <input type="hidden" name="doc_names_selected" value="{{ doc.name }}" />
    {% if doc.name.startswith('reply-') %}
      (sent {{ doc.date }})
    {% else %}
      (uploaded {{ doc.date }})
    {% endif %}
  </li>
  {% endfor %}
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <input type="hidden" name="sid" value="{{ sid }}" autocomplete="off"/>
  <input type="hidden" name="confirm_delete" value="1" />
  <p><button type="submit" name="action" value="delete">Permanently delete files</button></p>
  </ul>
  </form>

{% endif %}

<p><a href="/col/{{ sid }}">Return to the list of documents for {{ codename }}...</a></p>
{% endblock %}
