{% extends "base.html" %}
{% block body %}

{% with count=items_selected|length %}
<p>{{ ngettext('The following file has been selected for <strong>permanent deletion</strong>:', 'The following {files} files have been selected for <strong>permanent deletion</strong>:', count).format(files=count)|safe }}</p>
{% endwith %}

<form action="/bulk" method="post">
  <ul>
  {% for item in items_selected %}
    <li>
      {{ item.filename }}
      <input type="hidden" name="doc_names_selected" value="{{ item.filename }}" />
    </li>
  {% endfor %}
  </ul>
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <input type="hidden" name="sid" value="{{ sid }}" autocomplete="off"/>
  <input type="hidden" name="confirm_delete" value="true" />
  <p><button type="submit" name="action" value="delete"><i class="fa fa-trash-o"></i> {{ gettext('Permanently delete files') }}</button></p>
</form>

<p><a href="/col/{{ sid }}">{{ gettext('Return to the list of documents for {source_journalist_designation}...').format(source_journalist_designation=source.journalist_designation) }}</a></p>
{% endblock %}
