{% extends "base.html" %}
{% block body %}
<p class="flash notification">
  <img src="{{ url_for('static', filename='icons/info-circle-blue-grey.png') }}" class="icon" width="18" height="18" alt="{{ gettext('info icon') }}">
{{ gettext('Thanks!') }}
</p>

<p>{{ gettext('SecureDrop will generate a secure encryption key for this source the next time that they log in. Once the key has been generated, a reply box will appear under their collection of documents. You can use this box to write encrypted replies to them.') }}</p>

<p><a href="/col/{{ filesystem_id }}" id="continue-to-list">{{ gettext('Continue to the list of documents for {codename}...').format(codename=codename) }}</a></p>
{% endblock %}
