{% extends "base.html" %}
{% block body %}
<div id="content" class="journalist-view-all">
<h2><span class="headline">Sources</span></h2>
{% if sources %}
<form id="delete_collections" action="/col/delete" method="post">
<input id='filter' type='text' placeholder='filter by codename' autofocus="autofocus">
<ul id="cols" class="plain">
  {% for source in sources %}
  {% set docs = source.documents_messages_count()['documents'] %}
  {% set msgs = source.documents_messages_count()['messages'] %}
  <li data-source-designation="{{ source.journalist_designation|lower }}">
    <input type="checkbox" name="cols_selected" value="{{ source.filesystem_id }}" />
    <span class="code-name"><a href="/col/{{ source.filesystem_id }}">{{ source.journalist_designation }}</a></span><br />
    <strong>{{ docs }}</strong> document{{ "" if docs == 1 else "s" }} and <strong>{{ msgs }}</strong> message{{ "" if msgs == 1 else "s" }}<br />
    last updated {{ source.last_updated }}<br>
    <span id='unread' class='{{ "some" if source.num_unread > 0 else "" }}'>
      {% if source.num_unread > 0 %}
        <a href='/download_unread/{{ source.filesystem_id }}'>unread: {{ source.num_unread }}</a>
      {% else %}
        unread: 0
      {% endif %}
    </span>
  </li>
  {% endfor %}
</ul>
<input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
<p>
  <button type="submit" name="action" value="delete" class="small"><i class="fa fa-minus-circle"></i> Delete selected</button>
  <span id="select_all" class="select"><i class="fa fa-check-square-o"></i> select all</span> <span id="select_none" class="select"><i class="fa fa-square-o"></i> select none</span>
</p>
</form>
</div>
{% else %}
<p>No documents have been submitted!</p>
{% endif %}
{% endblock %}
