{% if g.locales|length > 1 %}
<div class="locales">
  <ul class="plain">
    {% for locale in g.locales %}
      <li>
      {% if locale == g.locale %}
        {{ g.locales[locale] }}
      {% else %}
        {% set args = {} %}
        {% set _ = args.update(request.args or {}) %}
        {% set _ = args.update(request.view_args or {}) %}
        {% set _ = args.update({'l': locale}) %}
        <a href="{{ url_for(request.endpoint or 'main.index', **args) }}" rel="nofollow">{{ g.locales[locale] }}</a>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
