{% if g.locales|length > 1 %}
<div class="menu">
  <input id="menu-1-checkbox" class="menu__checkbox visually-hidden" type="checkbox" >
  <label for="menu-1-checkbox" class="menu__trigger">
    <div class="menu-icon-container">
      <img class="menu__trigger-icon" src="/static/i/languages_globe.png" alt="" width="18" height="18">
    </div>
    <div class="menu-text-container">
      <span class="menu__trigger-text">{{ g.locales[g.localeinfo.id].display_name }}</span>
    </div>
    <div class="menu-trigger-container">
      <img class="menu__trigger-icon" src="/static/i/languages_arrow.png" alt="" width="12" height="18">
    </div>
  </label>

  <ul class="menu__items">
    {% for locale in g.locales %}
      <li class="menu__item">
        {% if locale != g.localeinfo.id %}
          {% set args = {} %}
          {% set _ = args.update(request.args or {}) %}
          {% set _ = args.update(request.view_args or {}) %}
          {% set _ = args.update({'l': locale}) %}
          {% set url = url_for(request.endpoint or 'main.index', **args) %}
        {% else %}
          {% set url = '' %}
        {% endif %}
        <a href="{{ url }}" rel="nofollow" class="no-bottom-border">
          <span>{{ g.locales[locale].display_name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
