{% extends "base.html" %}
{% block body %}

<h1>{{ gettext('Login to access the journalist interface') }}</h1>

<form method="post" action="/login" autocomplete="off" class="login-form">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <p><input class="login-username" type="text" name="username" autocomplete="off" placeholder="{{ gettext('Username') }}" autofocus></p>
  <p><input class="login-password" id="login-form-password" type="password" name="password" placeholder="{{ gettext('Password') }}"></p>
  <p class="show-password-checkbox-container"><label><input id="show-password-check" type="checkbox">Show password</label></p>
  <p><input class="login-token" name="token" id="token" type="text" placeholder="{{ gettext('Two-factor Code') }}"></p>
  <button class="sd-button" type="submit"><i class="far fa-arrow-alt-circle-right"></i> {{ gettext('LOG IN') }}</button>
</form>

{% endblock %}
