{# these are flashed messages for the logo upload file verification #}
{% with messages = get_flashed_messages(with_categories=True, category_filter=["logo-success", "logo-error"]) %}
  {% for category, message in messages %}
    {% set category_status = category[5:] %}
      <div class="flash {{ category_status }}">
        {% if category_status == "success" %}
          <img src="{{ url_for('static', filename='i/success_checkmark.png') }}" height="17" width="20">
        {% elif category_status == "error" %}
          <img src="{{ url_for('static', filename='i/font-awesome/exclamation-triangle-black.png') }}" height="17" width="20">
        {% endif %}
        {{ message }}
      </div>
  {% endfor %}
{% endwith %}
