{% if prefs_filter is defined  and prefs_filter|length %}
    {% with messages = get_flashed_messages(with_categories=True, category_filter=prefs_filter) %}
      {% for category, message in messages %}
    {#  Get the end of the of the category message which
        contains the category status.(success/error/notification)#}
        {% set category_status = category.split('-')|last %}
          <div class="flash {{ category_status }}">
          {% if category_status == "success" %}
              <img src="{{ url_for('static', filename='i/flash-success.png') }}" height="15" width="20">
          {% elif category_status == "error" %}
              <img src="{{ url_for('static', filename='i/flash-error.png') }}" height="30" width="9">
          {% elif category_status == "notification" %}
              <img src="{{ url_for('static', filename='i/flash-notification.png') }}" height="35" width="15">
          {% endif %}
              {{ message }}
          </div>
      {% endfor %}
    {% endwith %}
{% endif %}
