#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=Network;
Icon={{ tails_config_securedrop_dotfiles }}/securedrop_icon.png
Exec=/usr/local/bin/tor-browser {{ item.0.onion_url }}
Name=SecureDrop Source Interface
Name[ar]=واجهة SecureDrop للمصدر
Name[ca]=Interfície de font del SecureDrop
Name[cs]=SecureDrop rozhraní zdroje
Name[de_DE]=Quellenschnittstelle für SecureDrop
Name[el]=Διεπαφή πηγής του SecureDrop
Name[es_ES]=Interfaz de fuente de SecureDrop
Name[fr]=SecureDrop - Interface des sources
Name[hi]=SecureDrop स्रोत अंतराफलक
Name[is]=Heimildarmannaviðmót SecureDrop
Name[it]=Interfaccia Fonte di SecureDrop
Name[nb_NO]=Kildegrensesnitt for SecureDrop
Name[nl]=Securedrop - interface voor bronnen
Name[pt_BR]=Interface de Fontes do SecureDrop
Name[ro]=SecureDrop - interfața pentru surse
Name[ru]=SecureDrop — интерфейс источников
Name[sk]=SecureDrop rozhranie zdroja
Name[sv]=SecureDrop källgränssnitt
Name[tr]=SecureDrop Kaynak Arayüzü
Name[zh_Hans]=SecureDrop 线人界面
Name[zh_Hant]=SecureDrop 線人使用介面
