{% set svc_awk = "awk -F ':' '{print $1 \".onion\"}' svc-ssh.auth_private" %}

{% for svc in ssh_v3_onion_lookup.results %}
{% set alias = svc.item %}
{% set hostname = hostnames.get(alias) %}
Host {{ [alias,hostname]|unique|join(' ') }}
  {% set svc_awk = "awk -F ':' '{print $1 \".onion\"}' "+svc.item+"-ssh.auth_private" -%}
  {% set direct_ip = hostvars[inventory_hostname][svc.item+'_ip'] -%}
  User {{ ssh_users }}
  Hostname {{ lookup('pipe', svc_awk) if (svc.stat.exists and enable_ssh_over_tor) else direct_ip }}
  {% if enable_ssh_over_tor and svc.stat.exists -%}
  ProxyCommand /bin/nc -X 5 -x 127.0.0.1:9050 %h %p
  {% else -%}
  ProxyCommand none
  {% endif %}

{% endfor %}
