{% extends "base.html" %}
{% block body %}
<div id="content" class="submit-1">
  <div id="source-left">
    <h2>Submit documents for the first time</h2>
    <p>If this is your first time submitting documents to journalists, start here.</p>
    <p><a class="button" href="/generate">Submit documents</a></p>
  </div>
  <div id="source-right">
    <h2>Already submitted something?</h2>
    <p>If you have already submitted documents in the past, login here to check for responses. You will need to know your code name.</p>
    <p><a class="button" href="/lookup">Check for a response</a></p>
  </div>
  <div class="clear"></div>
</div>
{% endblock %}
